.section-container {
  margin: 0px auto 83px;
  position: relative;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px 16px;
  margin-bottom: 57px;
}

.load-more-btn {
  display: block;
  width: 104px;
  margin: 0 auto;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  line-height: 16px;
  border-radius: 16px;
  padding: 8px 16px;
  border: 1px solid #1a1b1e;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 71px;
}

.load-more-btn:hover {
  background-color: #1a1b1e;
  color: white;
}

@media screen and (max-width: 768px) {
  .section-container {
    margin: 0px 24px 64px; /* 24px from screen edge to align with header and filter */
  }
}
