.sectionContainer {
  margin: 24px auto 83px;
  position: relative;
}

.pageTitle {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 4px;
}

.pageTagline {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
  font-weight: 400;
}

.newsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 24px;
}

.newsCard {
  padding: 30px;
  border-radius: 12px;
  background-color: #F8F9FA;
  border: 1px solid #EBEAEA;
  transition: all .2s ease;
}
.newsCard:hover{
  background-color: white;
  box-shadow: 2px 0 4px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.10);
}

.link {
  color: #1a1b1e;
  text-decoration: none;
  display: block;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.details {
  display: flex;
  justify-content: space-between;
}

.address {
  color: #364fc7;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.addressIcon{
  font-size: 18px;
}

.addressText{
  font-size: 14px;
}

.address,
.source,
.date {
  display: flex;
  align-items: center;
  gap: 6px;
}

.headline {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
}

/* .newsCard:hover .headline {
  text-decoration: underline;
} */

.source {
  font-size: 14px;
  color: #3C3C4399;
  margin-top: auto;
}

.address img,
.source img,
.date img {
  width: 20px;
  height: 20px;
}

.noResults {
  border: 2px solid rgba(255, 0, 0, 0.233);
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 6px;
  color: red;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-end;
  margin-bottom: 48px;
  margin-top: -24px;
}

.filterGroup {
  width: 200px;
  flex: 0 0 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.filterGroup label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.filterContainer select {
  color: #878b97;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 8px 12px;
  border: 1px solid #EBF1F7;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  padding-right: 30px;
}

.menuDropdown {
  position: absolute;
  right: 12px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.315);
  width: 20px;
  height: 20px;
  top: 9px;
}

.menuDropdown img{
  width: 100%;
}

.filterContainer option {
  background-color: white;
}

.searchButtonContainer {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-top: 0;
}

.searchButton {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}

/* Add a wrapper for the news container */
.newsContainerWrapper {
  padding: 0 16px;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin: 2.2rem 0;
}

.loadMoreButton {
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  border: 1px solid #A5A5A5;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.loadMoreButton:hover {
  background-color: #f0f0f0;
}

@media (max-width: 1024px) {
  .newsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .filterContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .filterGroup {
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    justify-content: center;
  }

  .filterContainer select {
    width: 100%;
  }

  .searchButtonContainer {
    width: 100%;
  }

  .searchButton {
    width: 100%;
  }

  .newsContainer {
    padding: 0;
  }

  .newsCard {
    width: 100%; /* Make news cards full width on mobile */
  }
}

@media (max-width: 640px) {
  .newsContainer {
    grid-template-columns: 1fr;
  }
}