body {
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* main container of entire page */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* section container inside each section */
.section-container {
  max-width: 1280px;
  margin: 0 auto;
}

.mini-nav {
  max-width: 1280px;
  margin: -20px auto 12px;
  margin-top: -20px;
}

.mini-nav a {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #364fc7;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .mini-nav {
    margin: -10px 24px 12px;
  }
}
