/* Roboto Family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Zilla Slab Family */
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* DM Sans and Vollkorn Families */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

/* Playfair Display Family */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

/* Poppins Family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* main container of entire page */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* section container inside each section */
.section-container {
  max-width: 1280px;
  margin: 0 auto;
}

.mini-nav {
  max-width: 1280px;
  margin: -20px auto 12px;
  margin-top: -20px;
}

.mini-nav a {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #364fc7;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .mini-nav {
    margin: -10px 24px 12px;
  }
}
