---
import "../styles/global.css";
import BaseLayout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import CardFilterSection from "@layouts/CardFilterSection.astro";
import CardContainer from "@components/CardContainer.jsx";
import Footer from "@components/Footer.astro";

// get events JSON data
import eventsJSON from "../data/events.json";
---

<BaseLayout title="Nepal Climate Hub">
	<main class="main-container">
		<!-- header section  -->

		<section class="header-section">
			<Header logoColor="#1A1B1E" />

			<!-- a mini navbar -->
			<div class="mini-nav">
				<a href="/">Home</a>
			</div>
		</section>

		<div class="event-wrapper">
			<section class="filter-section">
				<CardFilterSection heading = "Events" type="event" filter= "false"/>
			</section>
		
			<section class="activist-cards-section">
				 <CardContainer client:load cardsArray = {eventsJSON } dataType="events" cardProfilePictureBgSize="cover" cardPadding="0px" initialCardCount = 8/>
		</div>

		<section class="footer-section">
			<Footer />
		</section>
	</main>
</BaseLayout> 

<style>
	section {
		padding: 0px 48px;
	}

	.page-title {
		font-size: 32px;
		line-height: 60px;
		font-weight: 700;
	}

	.page-tagline {
		line-height: 24px;
		margin-bottom: 48px;
	}

	.event-wrapper {
		background-color: #EBF1F7;
	}

	.footer-section {
		background-color: #1a1b1e;
		color: white;
	}

	@media screen and (max-width: 768px) {
		section {
			padding: 0px;
		}
	}
</style>
