---
import "../styles/global.css";
import BaseLayout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import CardFilterSection from "@layouts/CardFilterSection.astro";
import OrganizationsCardContainer from "@components/OrganizationsCardContainer.jsx"
import Footer from "@components/Footer.astro";
---

<BaseLayout title="Nepal Climate Hub">
	<main class="main-container">

  <!-- header section  -->
  
  <section class="header-section">
    <Header logoColor="#1A1B1E" />

    <!-- a mini navbar -->
    <div class="mini-nav">
      <a href="/">Home</a>
    </div>
  </section>

  <div class="organization-wrapper">
    <section class="filter-section">
      <CardFilterSection />
    </section>
  
    <section class="organization-cards-section">
       <OrganizationsCardContainer client:load/>
  </div>
  
  </section>

    <section class="footer-section">
      <Footer />
    </section>
	</main>
</BaseLayout>


<style>
   section {
    padding: 0px 48px;
  }

  .organization-wrapper {
    background-color: #EBF1F7;
  }

  .footer-section {
    background-color: #1A1B1E;
    color: white;
  }
</style>