---
import "../styles/global.css";
import BaseLayout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import CardFilterSection from "@layouts/CardFilterSection.astro";
import CardContainer from "@components/CardContainer.jsx";
import Footer from "@components/Footer.astro";

// get organizations JSON data
import OrganizationsJSON from "../data/organizations.json";
---

<BaseLayout title="Nepal Climate Hub">
	<main class="main-container">

  <!-- header section  -->
  
  <section class="header-section">
    <Header logoColor="#1A1B1E" />

    <!-- a mini navbar -->
    <div class="mini-nav">
      <a href="/">Home</a>
    </div>
  </section>

  <div class="organization-wrapper">
    <section class="filter-section">
      <CardFilterSection heading = "Organizations" tagline = "Find your community" />
    </section>
  
    <section class="organization-cards-section">
       <CardContainer client:load cardsArray = {OrganizationsJSON } dataType = "organization" cardProfilePictureBgSize="contain"/>
  </div>
  
  </section>

    <section class="footer-section">
      <Footer />
    </section>
	</main>
</BaseLayout>


<style>
   section {
    padding: 0px 48px;
  }

  .organization-wrapper {
    background-color: #EBF1F7;
  }

  .footer-section {
    background-color: #1A1B1E;
    color: white;
  }

  @media  screen and (max-width: 768px) {
  section {
    padding: 0px;
  }
}
</style>