---
export const prerender = false;
import "../styles/global.css";
import BaseLayout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

// form handling
let errorMessage = "";

if (Astro.request.method === "POST") {
	try {
		const data = await Astro.request.formData();
		const formIdentifier = data.get("form_identifier");
		let apiUrl = "";
		let payload = {};

		if (formIdentifier == "activist_profile") {
			const activistName = data.get("activist-name");
			const activistAddress = data.get("activist-address");
			const activistEmail = data.get("activist-email");
			const activistPhoneNumber = data.get("activist-number");

			const activistFacebookUrl = data.get("activist-facebook");
			const activistLinkedinUrl = data.get("activist-linkedin");
			const activistInstagramUrl = data.get("activist-instagram");
			const activistWebsite = data.get("activist-website");
			const activistWorkingThemes = data.get("activist-working-themes");

			const activistBio = data.get("activist-bio");
			const activistCardImageUrl = data.get("activist-card-image");
			const activistProfileImageUrl = data.get("activist-profile-image");

			apiUrl = "http://localhost:4321/api/save-activist-profile";

			// payload for our request
			payload = {
				name: activistName,
				email: activistEmail,
				address: activistAddress,
				phoneNumber: activistPhoneNumber,
				linkedinUrl: activistLinkedinUrl,
				facebookUrl: activistFacebookUrl,
				instagramUrl: activistInstagramUrl,
				website: activistWebsite,
				workingThemes: activistWorkingThemes,
				bio: activistBio,
				cardPicture: activistCardImageUrl,
				profilePicture: activistProfileImageUrl,
			};
		}

		if (formIdentifier == "organization_profile") {
			const organizationName = data.get("organization-name");
			const organizationAddress = data.get("organization-address");
			const organizationEmail = data.get("organization-email");
			const organizationPhoneNumber = data.get("organization-number");

			const organizationFacebookUrl = data.get("organization-facebook");
			const organizationLinkedinUrl = data.get("organization-linkedin");
			const organizationInstagramUrl = data.get("organization-instagram");
			const organizationWebsite = data.get("organization-website");
			const organizationWorkingThemes = data.get("organization-working-themes");

			const organizationBio = data.get("organization-bio");
			const organizationCardImageUrl = data.get("organization-card-image");
			const organizationProfileImageUrl = data.get(
				"organization-profile-image"
			);

			apiUrl = "http://localhost:4321/api/save-organization-profile";

			// payload for our request
			payload = {
				name: organizationName,
				email: organizationEmail,
				address: organizationAddress,
				phoneNumber: organizationPhoneNumber,
				linkedinUrl: organizationLinkedinUrl,
				facebookUrl: organizationFacebookUrl,
				instagramUrl: organizationInstagramUrl,
				website: organizationWebsite,
				workingThemes: organizationWorkingThemes,
				bio: organizationBio,
				cardPicture: organizationCardImageUrl,
				profilePicture: organizationProfileImageUrl,
			};
		}

		// make a api post request to save our data (save-organization-profile.ts or save-activist-profile)
		const response = await fetch(apiUrl, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(payload),
		});

		if (response.ok) {
			console.log("formIdentifier " + formIdentifier);
			console.log(payload);

			if (formIdentifier == "activist_profile") {
				// set up the cookies values
				Astro.cookies.set("successType", "volunteerProfile", {
					path: "/success",
				});
			} else {
				// set up the cookies values
				Astro.cookies.set("successType", "organizationProfile", {
					path: "/success",
				});
			}

			return Astro.redirect("/success");
		} else {
			errorMessage = "true";
		}
	} catch (error) {
		if (error instanceof Error) {
			errorMessage = error.message;
		}
	}
}
---

<BaseLayout title="Nepal Climate Hub">
	<main class="main-container">
		<!-- header section  -->

		<section class="header-section">
			<Header logoColor="#1A1B1E" />

			<!-- a mini navbar -->
			<div class="mini-nav">
				<a href="/">Home</a>
			</div>
		</section>

		<section class="profile-section">
			<div class="section-container">
				<h2 class="section-heading">Submit Profile</h2>
				<div class="introduction-section">
					<p class="main-message">
						Share your commitment to Nepal's growing climate movement and
						connect with like-minded individuals and organizations by submitting
						your profile to Nepal Climate Hub.
					</p>
					<p>
						Nepal Climate Hub is on a mission to educate, connect, and empower
						youth across Nepal to address pressing climate challenges through
						individual and collective action. Whether you are a student or young
						professional working to address climate change through education,
						research, resilience, policy, advocacy, or technology, please submit
						a profile so we can highlight and celebrate your efforts!
					</p>
				</div>

				<div class="toggleBtnWrapper">
					For
					<button id="activist-btn">Climate Champions</button>
					<span>|</span>
					<button id="organization-btn"> Organizations</button>
				</div>

				<!-- activist section -->

				<div class="activist-section">
					<p class="section-note">
						Are you working to enable a cleaner, safer, healthier and more
						resilient Nepal? We want to hear about your climate journey and
						mission! We invite submissions from all individual climate champions
						engaged in activities or initiatives to address climate change.
					</p>

					<p>By submitting your profile to Nepal Climate Hub, you will gain:</p>

					<ul>
						<li>
							<span class="description-term"
								><strong>Increased visibility</strong></span
							>: Showcase your work and impact to a diverse audience, raising
							awareness of your contributions to climate action.
						</li>
						<li>
							<span class="description-term"
								><strong>Networking opportunities</strong></span
							>: Connect with like-minded individuals and organizations
							passionate about climate action, fostering opportunities for
							collaboration and partnership.
						</li>
						<li>
							<span class="description-term"
								><strong>Resource sharing</strong></span
							>: Access and share timely information and resources with a broad
							network, enhancing your ability to address climate challenges
							effectively.
						</li>
						<li>
							<span class="description-term"
								><strong>Inspiration and leadership</strong></span
							>: Be inspired and Inspire others by sharing your journey and
							achievements.
						</li>
						<li>
							<span class="description-term"
								><strong>Community impact</strong></span
							>: Amplify your efforts by joining a growing coalition of
							mission-driven individuals and organizations dedicated to ensuring
							a climate-resilient Nepal.
						</li>
					</ul>

					<h3 class="sub-heading">Submit Your Profile</h3>
					<p>
						To create your Climate Champion profile, please complete the form
						below with the following details:
					</p>

					<form
						class="activist-form"
						method="post"
						enctype="multipart/form-data"
					>
						<input
							type="hidden"
							name="form_identifier"
							value="activist_profile"
						/>

						<div class="form-field">
							<label for="activist-name"
								>Name <span class="required-asterisk">*</span></label
							>
							<input
								type="text"
								id="activist-name"
								required
								name="activist-name"
							/>
						</div>

						<div class="form-field">
							<label for="activist-address"
								>Address <span class="required-asterisk">*</span></label
							>
							<input
								type="text"
								id="activist-address"
								required
								name="activist-address"
							/>
						</div>

						<div class="form-field">
							<label for="activist-email"
								>Email <span class="required-asterisk">*</span></label
							>
							<input
								type="text"
								id="activist-email"
								required
								name="activist-email"
							/>
						</div>

						<div class="form-field">
							<label for="activist-number">Phone Number</label>
							<input type="tel" id="activist-number" name="activist-number" />
						</div>

						<div class="form-field">
							<label for="activist-facebook">Facebook</label>
							<input
								type="text"
								id="activist-facebook"
								name="activist-facebook"
							/>
						</div>

						<div class="form-field">
							<label for="activist-linkedin">LinkedIn</label>
							<input
								type="text"
								id="activist-linkedin"
								name="activist-linkedin"
							/>
						</div>

						<div class="form-field">
							<label for="activist-instagram">Instagram</label>
							<input
								type="text"
								id="activist-instagram"
								name="activist-instagram"
							/>
						</div>

						<div class="form-field">
							<label for="activist-website"
								>Website (<i>blog site or online further details</i>)</label
							>
							<input
								type="text"
								id="activist-website"
								name="activist-website"
							/>
						</div>

						<div class="form-field">
							<label for="activist-working-themes"
								>Working Themes (<i>separate by comma</i>) <span
									class="required-asterisk">*</span
								></label
							>
							<input
								type="text"
								id="activist-working-themes"
								required
								name="activist-working-themes"
								placeholder="Climate Justice Activist, Indigenous Youth, Research, Climate Finance, Climate Awareness, ..."
							/>
						</div>

						<div class="form-field">
							<label for="activist-logo"
								>Profile Picture Link (<i>your profile card picture</i>) <span
									class="required-asterisk">*</span
								></label
							>
							<input
								type="text"
								id="activist-logo"
								required
								name="activist-card-image"
							/>
						</div>

						<div class="form-field">
							<label for="activist-picture"
								>Link to your picture that will be visible next to your bio.<span
									class="required-asterisk">*</span
								></label
							>
							<input
								type="text"
								id="activist-image"
								required
								name="activist-profile-image"
							/>
						</div>

						<div class="form-field">
							<label for="activist-bio"
								>Please provide a profile description that introduces you and
								your background, outlines your activities, achievements, and
								impact in climate and concludes with your call to action. (<i
									>250 words max</i
								>) <span class="required-asterisk">*</span></label
							>
							<textarea name="activist-bio" id="activist-bio" required
							></textarea>
						</div>

						<input type="submit" />
					</form>

					{
						errorMessage && (
							<p class="errorMessage">
								Sorry! Your form couldn't be submitted. Please try again, and if
								the issue persists, email us.
							</p>
						)
					}

					<p class="note">
						Once submitted, your profile will be reviewed and published on our
						climate champion page directory, connecting you with passionate
						individuals and organizations across Nepal, typically within a week.
						If any edits are needed, we will contact you. You will be notified
						upon publication.
					</p>
				</div>

				<!-- organization section -->

				<div class="organization-section">
					<p class="section-note">
						Do you belong to an organization focused on climate education,
						research, resilience, policy, advocacy, or technology? We want to
						hear about your mission and work!
					</p>

					<h3 class="sub-heading">Why submit your organization's profile?</h3>
					<p>
						By submitting your organization’s profile to Nepal Climate Hub, you
						will gain:
					</p>

					<ul>
						<li>
							<span class="description-term"
								><strong>Increased visibility</strong></span
							>: Your organization will be showcased to a diverse audience of
							climate champions, increasing awareness of your initiatives and
							impact.
						</li>

						<li>
							<span class="description-term"
								><strong>Resource sharing</strong></span
							>: Access and share timely information and resources with
							like-minded organizations, fostering opportunities for
							collaboration and partnership.
						</li>
						<li>
							<span class="description-term"
								><strong>Attract talent</strong></span
							>: Connect with experienced and motivated individuals looking to
							join climate-focused organizations, helping you build a strong and
							dedicated team.
						</li>
						<li>
							<span class="description-term"
								><strong>Collective impact</strong></span
							>: Amplify your efforts by joining a growing coalition of
							mission-driven individuals and organizations dedicated to ensuring
							a climate-resilient Nepal.
						</li>
					</ul>

					<h3 class="sub-heading">Submit your organization's profile</h3>
					<p>
						To create your Organization profile, please complete the form below
						with the following details:
					</p>

					<form
						class="organization-form"
						method="post"
						enctype="multipart/form-data"
					>
						<input
							type="hidden"
							name="form_identifier"
							value="organization_profile"
						/>

						<div class="form-field">
							<label for="organization-name"
								>Organization Name <span class="required-asterisk">*</span
								></label
							>
							<input
								type="text"
								id="organization-name"
								required
								name="organization-name"
							/>
						</div>

						<div class="form-field">
							<label for="organization-address"
								>Address <span class="required-asterisk">*</span></label
							>
							<input
								type="text"
								id="organization-address"
								required
								name="organization-address"
							/>
						</div>

						<div class="form-field">
							<label for="organization-email"
								>Email <span class="required-asterisk">*</span></label
							>
							<input
								type="text"
								id="organization-email"
								required
								name="organization-email"
							/>
						</div>

						<div class="form-field">
							<label for="organization-number"
								>Phone Number <span class="required-asterisk">*</span></label
							>
							<input
								type="tel"
								id="organization-number"
								required
								name="organization-number"
							/>
						</div>

						<div class="form-field">
							<label for="organization-facebook">Facebook</label>
							<input
								type="text"
								id="organization-facebook"
								name="organization-facebook"
							/>
						</div>

						<div class="form-field">
							<label for="organization-linkedin">LinkedIn</label>
							<input
								type="text"
								id="organization-linkedin"
								name="organization-linkedin"
							/>
						</div>

						<div class="form-field">
							<label for="organization-instagram">Instagram</label>
							<input
								type="text"
								id="organization-instagram"
								name="organization-instagram"
							/>
						</div>

						<div class="form-field">
							<label for="organization-website"
								>Website (<i>write NA if not available</i>) <span
									class="required-asterisk">*</span
								></label
							>
							<input
								type="text"
								id="organization-website"
								required
								name="organization-website"
							/>
						</div>

						<div class="form-field">
							<label for="organization-working-themes"
								>Working Themes (<i>separate by comma</i>) <span
									class="required-asterisk">*</span
								></label
							>
							<input
								type="text"
								id="organization-working-themes"
								required
								name="organization-working-themes"
								placeholder="Climate Adaption, Community Empowerment, Climate Finance, Climate Awareness, ..."
							/>
						</div>

						<div class="form-field">
							<label for="organization-card-image"
								>Logo link (<i>must have white background </i>) <span
									class="required-asterisk">*</span
								></label
							>
							<input
								type="text"
								id="organization-card-image"
								required
								name="organization-card-image"
							/>
						</div>

						<div class="form-field">
							<label for="organization-profile-image"
								>Link to a picture of your team or work.
								<span class="required-asterisk">*</span></label
							>
							<input
								type="text"
								id="organization-profile-image"
								required
								name="organization-profile-image"
							/>
						</div>

						<div class="form-field">
							<label for="organization-bio"
								>Please provide a profile description in three paragraphs,
								covering an introduction to your organization, its vision,
								mission, and objectives, as well as your major activities. (<i
									>250 words max</i
								>) <span class="required-asterisk">*</span></label
							>
							<textarea name="organization-bio" id="organization-bio"
							></textarea>
						</div>

						<input type="submit" />
					</form>

					{
						errorMessage && (
							<p class="errorMessage">
								Sorry! Your form couldn't be submitted. Please try again, and if
								the issue persists, email us.
							</p>
						)
					}

					<p class="note">
						Once submitted, your profile will be reviewed and published on our
						climate organization page directory, connecting you with passionate
						individuals and organizations across Nepal, typically within a week.
						If any edits are needed, we will contact you. You will be notified
						upon publication.
					</p>
				</div>

				<!-- end of the container -->
			</div>
		</section>

		<section class="footer-section">
			<Footer />
		</section>
	</main>
</BaseLayout>

<script>
	// get HTML elements
	const activistSection = document.querySelector(
		".activist-section"
	) as HTMLElement;
	const organizationSection = document.querySelector(
		".organization-section"
	) as HTMLElement;
	const activistBtn = document.querySelector("#activist-btn") as HTMLElement;
	const organizationBtn = document.querySelector(
		"#organization-btn"
	) as HTMLElement;

	// check if possiblely not availbale or null
	if (organizationSection !== null) {
		organizationSection.style.display = "none";
	}

	// initially set active class to activst button
	activistBtn.classList.add("active");
	organizationBtn.classList.remove("active");

	// add event listener in organization button
	organizationBtn.addEventListener("click", () => {
		activistBtn.classList.remove("active");
		organizationBtn.classList.add("active");

		activistSection.style.display = "none";
		organizationSection.style.display = "block";
	});

	// add event listener in activist button
	activistBtn.addEventListener("click", () => {
		activistBtn.classList.add("active");
		organizationBtn.classList.remove("active");

		activistSection.style.display = "block";
		organizationSection.style.display = "none";
	});
</script>

<style>
	section {
		padding: 0px 48px;
	}

	.section-container {
		max-width: 760px;
		margin: 48px auto 100px;
		text-align: justify;
	}

	.section-heading {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 24px;
	}

	.introduction-section {
		margin-bottom: 24px;
	}

	.main-message {
		font-weight: 700;
	}

	.section-container p {
		line-height: 24px;
		margin-bottom: 8px;
	}

	.sub-heading {
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		margin: 16px 0px;
	}

	.toggleBtnWrapper {
		margin-bottom: 24px;
	}

	.toggleBtnWrapper button {
		text-transform: capitalize;
		font-size: 14px;
		line-height: 20px;
		padding: 2px 8px;
		border-radius: 8px;
		font-weight: 400;
		/* background-color: #cefe00; */
		cursor: pointer;
		border: 1px solid black;
	}

	.toggleBtnWrapper button:hover {
		background-color: #1a1b1e;
		color: white;
	}

	.toggleBtnWrapper button.active {
		background-color: #1a1b1e;
		color: white;
	}

	ul li {
		list-style-type: none;
		line-height: 24px;
		margin-bottom: 8px;
	}

	form {
		width: 100%;
		margin: 24px auto 0px;
	}

	.form-field {
		margin-bottom: 16px;
	}

	.form-field label {
		display: block;
		margin-bottom: 8px;
	}

	.form-field input[type="text"],
	.form-field input[type="email"],
	.form-field input[type="tel"],
	.form-field textarea {
		width: 100%;
		padding: 8px;
		margin-bottom: 8px;
		border-radius: 4px;
		box-sizing: border-box;
		transition: border-color 0.3s;
		border: none;
		outline: 1px solid black;
		background-color: #f9f9f9;
	}

	.form-field input[type="text"]:hover,
	.form-field input[type="email"]:hover,
	.form-field input[type="tel"]:hover,
	.form-field textarea:hover,
	.form-field input[type="text"]:focus,
	.form-field input[type="email"]:focus,
	.form-field input[type="tel"]:focus,
	.form-field textarea:focus {
		outline: 2px solid black;
	}

	.form-field textarea {
		height: 200px;
		resize: vertical;
	}

	input[type="submit"] {
		min-width: 200px;
		margin: 0 auto;
		display: block;
		padding: 8px 16px;
		line-height: 16px;
		border-radius: 8px;
		text-decoration: none;
		font-size: 14px;
		color: #25262b;
		background-color: #cefe00;
		transition: all 0.3s ease;
		font-weight: 400;
		cursor: pointer;
	}

	input[type="submit"]:hover {
		background-color: black;
		color: white;
	}

	.errorMessage {
		margin-top: 12px;
		color: red;
		font-style: italic;
		text-align: center;
	}

	.required-asterisk {
		color: red;
	}

	.note {
		font-style: italic;
		margin-top: 24px;
	}

	.footer-section {
		background-color: #1a1b1e;
		color: white;
	}

	/* style for responsiveness */

	@media screen and (max-width: 768px) {
		section {
			padding: 0px;
		}

		.section-container {
			margin: 24px 24px 32px;
			text-align: left;
		}

		.section-container p {
			text-align: justify;
		}
	}
</style>
