<div class="section-container">
	<h2 class="section-heading">Contact us</h2>

	<div class="card-wrapper">
		<div class="card">
			<p>
				If you have any questions or feedback, are interested in partnership,
				and want to support our team and work, please email us at <a
					href="mailto: info@nepalclimatehub.org">info@nepalclimatehub.org</a
				>
			</p>
		</div>
	</div>
</div>

<style>
	.section-container {
		margin: 48px auto;
		position: relative;
	}

	.section-heading {
		position: absolute;
		top: -66px;
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		padding: 0px 16px;
		color: white;
		background-color: #1a1b1e;
		transform: rotate(-3deg);
		opacity: 1;
	}

	.card {
		min-width: 342px;
		border: none;
		background-color: white;
		border-radius: 8px;
		padding: 23px 30px 21px 25px;
		position: relative;
	}

	.card p {
		line-height: 24px;
	}

	.card a {
		text-decoration: none;
		color: #364fc7;
	}

	@media screen and (max-width: 768px) {
		.section-container {
			margin: 24px 32px 64px;
		}

		.section-heading {
			top: -68px;
		}

		.card {
			margin-top: 50px;
			min-width: 100%;
		}
	}
</style>
