<div class="section-container">
	<h2 class="section-heading">About</h2>

	<div class="hero-container">
		<div class="description">
			<p>
				Nepal Climate Hub was conceived in March 2024 by Bibek Pant, a Nepal
				native and computer science graduate as part of the Climatebase
				Fellowship—a professional accelerator program for passionate climate
				champions.
			</p>
			<p>
				Despite a rise in climate activism in Nepal in recent years, information
				and resources to enable effective action are often siloed and
				incomplete, resulting in fragmented efforts and a sense of overwhelm
				among those most motivated to drive meaningful positive change: students
				and young professionals across Nepal.
			</p>
			<p>
				Supported by an international Founding Team, all participants of the
				Climatebase Fellowship, Nepal Climate Hub was built to address this
				challenge. Its mission is to be a centralized platform to educate,
				connect, and empower Nepal’s young people with climate champions,
				climate based organizations, timely information & resources,
				opportunities, and practical guidance to address pressing climate
				challenges through individual and collective action.
			</p>
		</div>
		<div class="img-wrapper">
			<img
				src="https://nepal8thwonder.com/wp-content/uploads/2023/10/Bridge-on-the-way-to-Tribenipatan-from-Mumra-Village.jpg"
				alt=""
			/>
		</div>
	</div>
</div>


<style>
  .section-heading {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		margin: 24px 0px;
  }

  .hero-container {
    display: flex;
    gap: 24px;
    padding-bottom: 86px;
  }

  .description {
    width: 50%;
  }

  .description p {
    margin-bottom: 8px;
    line-height: 24px;
  }

  .img-wrapper {
    width: 50%;
    height: 360px;
    border-radius: 16px;
    
  }

  .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  @media screen and (max-width: 1024px) {

    .hero-container {
      flex-direction: column;
      gap: 16px;
    }

    .description, .img-wrapper {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
		.section-container {
			margin: 24px 24px 64px;
		}

    .hero-container {
      flex-direction: column-reverse;
      gap: 16px;
      padding-bottom: 40px;
    }

    .img-wrapper {
      height: 228px;
    }

    .description {
      text-align: justify;
    }
  }
</style>