<div class="section-container">
	<h2 class="section-heading">Acknowledgements</h2>

	<div class="card-wrapper">
		<div class="card">
			<p>
				<a href="https://climatebase.org/fellowship">Climatebase Fellowship</a> for uniting the founding team to create
				this knowledge hub.
			</p>
			<p>
				<a href="https://net0.grant.codes/">Net0.1</a> for sharing a starter kit for building a more sustainable
				website.
			</p>
		</div>
	</div>
</div>

<style>
	.section-container {
		margin: 40px auto 65px;
		position: relative;
	}

	.section-heading {
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		margin-bottom: 16px;
	}

	.card p {
		line-height: 24px;
		margin-bottom: 8px;
	}

	.card a {
		text-decoration: none;
		color: #364fc7;
	}

	@media screen and (max-width: 768px) {
		.section-container {
			margin: 24px 32px 64px;
		}
	}
</style>
