---
import { Icon } from "astro-icon/components";
---

<section class="contribute-opportunity-section section-container">
  <div class="opportunity-container">
    <div class="opportunity-text">
      <h2>Opportunities</h2>
      <p>
        Know about climate-related jobs, internships, volunteering, or funding
        opportunities? Share them with the community and help others access
        valuable opportunities.
      </p>
      <div class="opportunity-why-title">Why submit an opportunity?</div>
      <ul class="opportunity-list">
        <li>
          <Icon
            name="hugeicons:arrow-right-02"
            class="arrow-icon right-arrow-icon"
          />Support students and professionals in advancing their climate
          knowledge
        </li>
        <li>
          <Icon
            name="hugeicons:arrow-right-02"
            class="arrow-icon right-arrow-icon"
          />Increase participation in impactful climate programs
        </li>
        <li>
          <Icon
            name="hugeicons:arrow-right-02"
            class="arrow-icon right-arrow-icon"
          />Contribute to the growth of Nepal's climate enthusiasts
        </li>
      </ul>
      <p class="opportunity-note">
        Every opportunity shared can change someone's future in climate action!
      </p>
      <button class="opportunity-btn">
        <a href="https://forms.gle/YQsCTQYw5nKAr9em9" target="_blank"
          >Submit Opportunity</a
        >
      </button>
    </div>
    <div class="opportunity-image">
      <img
        src="https://ik.imagekit.io/mbccqjudb/Climate%20Visuals/climate-opportunities.jpg"
        alt="Opportunities"
      />
    </div>
  </div>
</section>

<style>
  .contribute-opportunity-section {
    background-color: white;
    margin: 54px auto;
  }

  .opportunity-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 26px;
  }

  .opportunity-text {
    flex: 0 0 1;
    width: 652px;
    padding-bottom: 24px;
  }

  .opportunity-text h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 26px;
    color: #1a1b1e;
  }

  .opportunity-text p {
    font-size: 18px;
    color: #222;
    margin-bottom: 18px;
    line-height: 24px;
  }

  .opportunity-why-title {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 12px;
  }

  .opportunity-list {
    list-style: none;
    padding: 0;
    margin: 0 0 22px 0;
  }

  .opportunity-list li {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    margin-bottom: 6px;
    color: #1a1b1e;
    line-height: 1.5;
  }

  .arrow-icon {
    width: 22px;
    height: 22px;
    font-weight: bold;
    color: black;
    margin-right: 8px;
  }

  .opportunity-note {
    font-size: 16px;
    margin-bottom: 12px;
    color: #1a1b1e;
    line-height: 1.5;
  }

  .opportunity-btn {
    border: none;
    background-color: none;
    border-radius: 16px;
  }

  .opportunity-btn a {
    background-color: #1a1b1e;
    padding: 8px 16px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: white;
    display: inline-block;
    transition: all 0.1s ease-in-out;
  }

  .opportunity-btn a:hover {
    background-color: #cefe00;
    color: #25262b;
  }

  .opportunity-image {
    width: 572px;
    height: 411px;
    flex: 0 0 1;
  }

  .opportunity-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    background: #eee;
  }

  @media screen and (max-width: 1280px) {
    .opportunity-container {
      margin: 0px 48px;
    }
  }

  @media screen and (max-width: 768px) {
    .opportunity-container {
      margin: 0px 24px;
      flex-direction: column-reverse;
    }

    .opportunity-text,
    .opportunity-image {
      width: 100%;
    }

    .opportunity-image {
      height: 225px;
    }
  }

  @media (max-width: 480px) {
    .opportunity-container {
      margin: 0px 24px;
    }

    .opportunity-text h2 {
      font-size: 1.3rem;
    }

    .opportunity-text p,
    .opportunity-list li,
    .opportunity-note {
      font-size: 0.98rem;
    }
  }
</style>
