<section class="note-section section-container">
  <div class="note-content">
    <p>
      Contribute today and help build a stronger, more connected climate
      community!
    </p>
  </div>
</section>

<style>
  .note-section {
    margin: 0px auto 80px;
  }

  .note-content {
    max-width: 1280px;
    margin: 0 auto;
  }

  .note-content p {
    max-width: 648px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
  }

  @media screen and (max-width: 1280px) {
    .note-content {
      margin: 0px 48px;
    }
  }

  @media (max-width: 768px) {
    .note-content {
      margin: 0px 24px;
    }
  }
</style>
