<link
  href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap"
  rel="stylesheet"
/>

<section class="contribute-hero-section section-container">
  <div class="hero-content">
    <h1>Contribute to Nepal's Climate Movement</h1>
    <p class="lead">
      Access to climate information remains a challenge, often limited to social
      media and small networks. Let's break this barrier and create an inclusive
      hub for those passionate about climate action.
    </p>
    <p class="subtext">
      Join us in building a well-connected and informed climate community in
      Nepal. Your small effort can make a big impact! By sharing climate-related
      events, opportunities, and news, you help students, professionals, and
      climate enthusiasts stay updated and engaged.
    </p>
  </div>
</section>

<style>
  .contribute-hero-section {
    margin-top: 50px;
    background: #fff;
  }

  .hero-content {
    max-width: 884px;
  }

  .hero-content h1 {
    font-family: "Zilla Slab", serif;
    font-size: 30px;
    font-weight: 700;
    color: #1a1b1e;
    margin-bottom: 12px;
    line-height: 36px;
  }

  .lead,
  .subtext {
    font-size: 18px;
    color: #1a1b1e;
    line-height: 24px;
  }

  .lead {
    margin-bottom: 24px;
  }

  @media screen and (max-width: 1280px) {
    .hero-content {
      margin: 0px 48px;
    }
  }

  @media (max-width: 768px) {
    .hero-content {
      /* padding: 2rem 0px; */
      margin: 0px 24px;
    }
    .hero-content h1 {
      font-size: 1.3rem;
      margin-bottom: 1.2rem;
    }
    .lead,
    .subtext {
      font-size: 0.98rem;
      margin-bottom: 1.2rem;
    }
  }
</style>
