---
import "../styles/global.css";
---

<div class="section-container">
	<div class="content">
		<p class="tagline">
			A unifying knowledge hub to inspire collective climate action.
		</p>
		<button class="cta-button"><a href="#">Find Organizations</a></button>
	</div>

	<div class="video-section">
		<h3 class="video-title">
			UN Chief calls for climate action at Mt. Everest
		</h3>
		<div class="video">
			<img
				src="https://pbs.twimg.com/amplify_video_thumb/1718900177451245568/img/BPUuz77Q3vfyDjEy.jpg"
				alt=""
			/>
		</div>
		<p class="description">
			“The world cannot wait!” –UN chief, Antonio Guterres from the base of Mt.
			Everest, on the terrible impact of the climate crisis on the Himalayas.
		</p>
	</div>
</div>


