---
import "../styles/global.css";
---

<div class="section-container">
	<div class="content-section">
		<p class="tagline">
			A unifying knowledge hub to inspire collective climate action.
		</p>
		<button class="cta-button"><a href="/organizations">Find Organizations</a></button>
	</div>

	<div class="video-section">
		<h3 class="video-title">
			UN Chief calls for climate action from Mt. Everest
		</h3>
		<div class="video">
      <iframe src="https://www.youtube.com/embed/bN3gVb__tmA?si=1lgCaagaTFdJ7XY-" title="YouTube video player" allow="autoplay; clipboard-write; encrypted-media;" referrerpolicy="strict-origin-when-cross-origin"></iframe>
		</div>
		<p class="description">
			“The world cannot wait!” –UN chief, Antonio Guterres from the base of Mt.
			Everest, on the terrible impact of the climate crisis on the Himalayas.
		</p>
	</div>
</div>

<style>
    .section-container {
    margin: 53px auto 83px;
    display: flex;
    gap: 28px;
  }

  .content-section {
    width: 45%;
    border-bottom: 2px solid #cefe00;
    padding-bottom: 32px;
  }

  .content-section .tagline {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    font-family: "Zilla Slab";
    margin-bottom: 24px;
  }

  .content-section .cta-button {
    border: none;
    background-color: none;
    border-radius: 16px;
  }

  .cta-button a {
    background-color: #1a1b1e;
    padding: 8px 16px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: white;
    display: inline-block;
    transition: all 0.1s ease-in-out;
  }

  .cta-button a:hover {
		background-color: #cefe00;
		color: #25262b;
	}

  .video-section {
    width: 55%;
    display: grid;
    grid-template-rows: 80px 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "video title" "video description";
    grid-gap: 0px 16px;
  }

  .video {
    display: block;
    border-radius: 16px;
    grid-area: video;
  }

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: none;
  }

  .video-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700px;
    grid-area: title;
  }

  .video-section .description {
    font-size: 12px;
    font-weight: 400px;
    line-height: 14px;
    grid-area: description;
    width: 85%;
  }

  @media screen and (max-width: 1180px) {
    .video-section {
      display: flex;
      flex-direction: column;
    }

    .video {
      width: 100%;
      margin: 0 auto;
      height: 220px;
      margin-bottom: 12px;
    }

    .video-title {
      margin-bottom: 12px;
    }

    .video-section .description  {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .section-container {
      margin: 24px 32px 64px;
      flex-direction: column;
    }

    .content-section, .video-section {
      width: 100%;
    }

    .video {
      max-width: 100%;
    }
  }
</style>


