---
const cards = [
  {
    title: 'Share accessible climate knowledge',
    body: 'through beginner-friendly explainers, guides, tools, and curated stories grounded in Nepal’s context',
    icon: 'bookmarks',
  },
  {
    title: 'Connect people working in climate',
    body: 'by creating online and offline spaces for youth, professionals, researchers, activists, and organizations to collaborate and grow',
    icon: 'user',
  },
  {
    title: 'Support youth-led climate action',
    body: 'by sharing jobs, internships, fellowships, volunteering opportunities, and highlighting youth leaders, activists, and practitioners',
    icon: 'hands',
  },
  {
    title: 'Strengthen Nepal’s climate ecosystem',
    body: 'by reducing information gaps and improving coordination',
    icon: 'globe',
  },
  {
    title: 'Amplify work on climate',
    body: 'through stories, blogs, and profiles, helping broaden reach, visibility, and impact',
    icon: 'pen',
  },
  {
    title: 'Build open, transparent tools',
    body: 'that are accessible and built in public',
    icon: 'tools',
  },
];
---

<section class="why-support-section">
  <div class="section-container">
    <header class="why-support-header">
      <h2 class="why-support-title">Why your support matters</h2>
      <p class="why-support-subtitle">Your contribution helps us:</p>
    </header>

    <div class="cards-grid">
      {cards.map((card) => (
        <article class="support-card">
          <div class="card-header">
            <div class="icon-wrapper">
            {card.icon === 'bookmarks' && (
              <svg width="24" height="24" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.66667 10.6935C5.766 10.0595 4.72333 9.65552 3.63 9.51952C2.85457 9.36198 2.06455 9.28756 1.27333 9.29752C1.17209 9.2984 1.07168 9.27922 0.977895 9.24109C0.884108 9.20295 0.798802 9.14662 0.726903 9.07534C0.655004 9.00406 0.597935 8.91925 0.55899 8.82579C0.520045 8.73234 0.499996 8.6321 0.5 8.53085L0.514 1.26885C0.513574 1.074 0.587356 0.886299 0.720351 0.743892C0.853346 0.601486 1.03557 0.515063 1.23 0.502186C2.03543 0.486175 2.8402 0.558157 3.63 0.716853C4.72215 0.857757 5.764 1.26077 6.66667 1.89152M6.66667 10.6935V1.89152M6.66667 10.6935C7.56733 10.0595 8.61 9.65552 9.70333 9.51952C10.4788 9.36198 11.2688 9.28756 12.06 9.29752C12.1612 9.2984 12.2617 9.27922 12.3554 9.24109C12.4492 9.20295 12.5345 9.14662 12.6064 9.07534C12.6783 9.00406 12.7354 8.91925 12.7743 8.82579C12.8133 8.73234 12.8333 8.6321 12.8333 8.53085L12.8187 1.26885C12.8191 1.07411 12.7454 0.886498 12.6126 0.744109C12.4797 0.601719 12.2976 0.515225 12.1033 0.502186C11.2979 0.486175 10.4931 0.558157 9.70333 0.716853C8.61118 0.857757 7.56933 1.26077 6.66667 1.89152"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            )}

            {card.icon === 'user' && (
              <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.79883 9.69958H9.19824C11.3521 9.69958 13.0986 11.4461 13.0986 13.6V13.8002C13.0985 13.8564 13.0543 13.8998 12.998 13.8998C12.9419 13.8996 12.8985 13.8563 12.8984 13.8002V13.6C12.8984 11.5563 11.2419 9.89978 9.19824 9.89978H6.79883C4.75519 9.89978 3.09863 11.5563 3.09863 13.6V13.8002C3.09853 13.8564 3.05434 13.8998 2.99805 13.8998C2.94194 13.8996 2.89854 13.8563 2.89844 13.8002V13.6C2.89844 11.4461 4.64497 9.69958 6.79883 9.69958ZM7.99805 2.09998C9.4894 2.09998 10.6982 3.30881 10.6982 4.80017C10.6981 6.29144 9.48934 7.50037 7.99805 7.50037C6.50693 7.50016 5.29893 6.29131 5.29883 4.80017C5.29883 3.30894 6.50687 2.10019 7.99805 2.09998ZM7.99805 2.30017C6.61708 2.30038 5.49805 3.41916 5.49805 4.80017C5.49815 6.18109 6.61715 7.29996 7.99805 7.30017C9.37912 7.30017 10.4979 6.18122 10.498 4.80017C10.498 3.41903 9.37919 2.30017 7.99805 2.30017Z"
                  stroke="white"
                />
              </svg>
            )}

            {card.icon === 'hands' && (
              <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.999 6.66665C11.999 6.66665 7.99898 9.33332 7.99898 14M6.23164 7.45532C5.70342 7.84959 5.05088 8.04044 4.39345 7.99294C3.73603 7.94543 3.1177 7.66276 2.65164 7.19665C1.03564 5.58132 1.35831 2.02665 1.35831 2.02665C1.35831 2.02665 4.91364 1.70332 6.52898 3.31932C6.83319 3.62234 7.06174 3.99277 7.19609 4.40059C7.33045 4.80841 7.36684 5.24215 7.30231 5.66665"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.976 8.54535C9.55047 8.08244 9.3203 7.47298 9.3336 6.84434C9.34689 6.21571 9.60262 5.61653 10.0473 5.17202C11.4833 3.73602 14.6433 4.02335 14.6433 4.02335C14.6433 4.02335 14.93 7.18335 13.494 8.61935C13.2555 8.85831 12.9698 9.04501 12.6552 9.16759C12.3406 9.29017 12.004 9.34594 11.6667 9.33135M4 4.66668C4 4.66668 8 8.00002 8 14"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            )}

            {card.icon === 'globe' && (
              <svg width="24" height="24" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.5 12.5C7.28793 12.5 8.06815 12.3448 8.7961 12.0433C9.52405 11.7417 10.1855 11.2998 10.7426 10.7426C11.2998 10.1855 11.7417 9.52405 12.0433 8.7961C12.3448 8.06815 12.5 7.28793 12.5 6.5C12.5 5.71207 12.3448 4.93185 12.0433 4.2039C11.7417 3.47595 11.2998 2.81451 10.7426 2.25736C10.1855 1.70021 9.52405 1.25825 8.7961 0.956723C8.06815 0.655195 7.28793 0.5 6.5 0.5M6.5 12.5C5.71207 12.5 4.93185 12.3448 4.2039 12.0433C3.47595 11.7417 2.81451 11.2998 2.25736 10.7426C1.70021 10.1855 1.25825 9.52405 0.956723 8.7961C0.655195 8.06815 0.5 7.28793 0.5 6.5C0.5 5.71207 0.655195 4.93185 0.956723 4.2039C1.25825 3.47595 1.70021 2.81451 2.25736 2.25736C2.81451 1.70021 3.47595 1.25825 4.2039 0.956723C4.93185 0.655195 5.71207 0.5 6.5 0.5M6.5 12.5C8.34067 12.5 9.12733 9.058 9.12733 6.5C9.12733 3.942 8.34067 0.5 6.5 0.5M6.5 12.5C4.65933 12.5 3.87267 9.058 3.87267 6.5C3.87267 3.942 4.65933 0.5 6.5 0.5M0.833334 4.5H12.1667M0.833334 8.5H12.1667"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            )}

            {card.icon === 'pen' && (
              <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.88514 4.11597L12.2931 11.7514M12.0623 11.3503L1.19371 13.8748L0.5 12.668L8.11943 4.51711"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.55934 13.3251L4.1582 14.3617C4.37537 14.7338 4.73145 15.0043 5.1481 15.1138C5.35441 15.1681 5.56937 15.1811 5.78073 15.1523C5.99208 15.1234 6.19568 15.0532 6.37991 14.9457C6.56414 14.8382 6.72538 14.6954 6.85443 14.5256C6.98348 14.3557 7.07781 14.1621 7.13204 13.9558C7.18627 13.7495 7.19934 13.5345 7.17049 13.3232C7.14164 13.1118 7.07144 12.9082 6.96391 12.724L6.86791 12.5583M8.18562 1.93314V0.5M13.6748 7.42228H15.1068M1.26562 7.42228H2.69762M3.29077 2.52743L4.30334 3.54114M12.0668 3.54114L13.0793 2.52743"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            )}

            {card.icon === 'tools' && (
              <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_3797_4330" fill="white">
                  <path
                    d="M5.88904 1.38054C5.94342 1.34069 6.00643 1.31422 6.07295 1.3033C6.13947 1.29238 6.20763 1.29731 6.2719 1.31768C6.99648 1.54884 7.63262 1.99691 8.09432 2.6013C8.55602 3.2057 8.82101 3.93728 8.85348 4.69715C8.88596 5.45702 8.68434 6.20854 8.27588 6.85012C7.86743 7.4917 7.27183 7.9924 6.56961 8.28454V13.4285C6.56213 13.8024 6.40837 14.1584 6.14133 14.4202C5.87429 14.6819 5.51526 14.8285 5.14133 14.8285C4.76739 14.8285 4.40837 14.6819 4.14133 14.4202C3.87428 14.1584 3.72052 13.8024 3.71304 13.4285V8.28511C3.01082 7.99297 2.41523 7.49227 2.00677 6.85069C1.59832 6.20911 1.3967 5.45759 1.42917 4.69772C1.46164 3.93785 1.72664 3.20627 2.18833 2.60188C2.65003 1.99748 3.28617 1.54942 4.01075 1.31825C4.07497 1.29766 4.14314 1.29251 4.20972 1.30323C4.2763 1.31395 4.33941 1.34022 4.39392 1.37992C4.44843 1.41962 4.4928 1.47163 4.52343 1.53171C4.55406 1.59178 4.57008 1.65824 4.57018 1.72568V4.28568L4.57304 4.34454C4.58769 4.49057 4.65797 4.62537 4.76931 4.72099C4.88065 4.81661 5.02451 4.86573 5.17108 4.85816C5.31765 4.8506 5.45569 4.78692 5.55659 4.68034C5.65749 4.57376 5.71351 4.43244 5.71304 4.28568V1.72625C5.71312 1.65885 5.7291 1.59241 5.75968 1.53234C5.79027 1.47227 5.83458 1.42026 5.88904 1.38054ZM12.6279 1.14625C12.6939 1.15534 12.7569 1.1797 12.8119 1.21739C12.8668 1.25509 12.9122 1.30508 12.9445 1.36339L13.6588 2.64911C13.691 2.70714 13.7094 2.77189 13.7124 2.83823C13.7153 2.90457 13.7029 2.9707 13.6759 3.03139L13.1416 4.23368V7.99997H13.8559C13.9696 7.99997 14.0786 8.04512 14.1589 8.12549C14.2393 8.20586 14.2845 8.31487 14.2845 8.42854V12.2857C14.2845 12.9677 14.0136 13.6217 13.5313 14.104C13.0491 14.5862 12.395 14.8571 11.713 14.8571C11.0311 14.8571 10.377 14.5862 9.89477 14.104C9.41253 13.6217 9.14161 12.9677 9.14161 12.2857V8.42854C9.14161 8.31487 9.18676 8.20586 9.26714 8.12549C9.34751 8.04512 9.45652 7.99997 9.57018 7.99997H10.2845V4.23425L9.74961 3.03139C9.72256 2.97062 9.71003 2.90439 9.71301 2.83794C9.71598 2.77149 9.73438 2.70665 9.76676 2.64854L10.481 1.36282L10.5125 1.31482C10.5524 1.26141 10.6042 1.21805 10.6638 1.1882C10.7235 1.15834 10.7892 1.1428 10.8559 1.14282H12.5702L12.6279 1.14625ZM6.57018 4.28568L6.56276 4.43197C6.52544 4.7964 6.34956 5.13257 6.07144 5.37102C5.79332 5.60946 5.43423 5.73194 5.06837 5.71316C4.70252 5.69438 4.35786 5.53577 4.10562 5.2701C3.85338 5.00444 3.71284 4.65202 3.71304 4.28568V2.38282C3.27871 2.63358 2.91804 2.99425 2.66727 3.42858C2.41651 3.8629 2.28448 4.35559 2.28447 4.85711L2.28675 4.97597C2.31113 5.56102 2.51468 6.12445 2.86985 6.59C3.22501 7.05555 3.71465 7.40073 4.27247 7.57882C4.35891 7.60654 4.43431 7.66098 4.48781 7.73431C4.54132 7.80763 4.57016 7.89605 4.57018 7.98682V13.4285C4.57018 13.5801 4.63039 13.7254 4.73755 13.8326C4.84471 13.9398 4.99006 14 5.14161 14C5.29316 14 5.43851 13.9398 5.54567 13.8326C5.65284 13.7254 5.71304 13.5801 5.71304 13.4285V7.98739C5.71294 7.89653 5.74173 7.80798 5.79524 7.73454C5.84875 7.6611 5.92423 7.60657 6.01076 7.57882C6.56858 7.40073 7.05821 7.05555 7.41338 6.59C7.76854 6.12445 7.97209 5.56102 7.99647 4.97597L7.99875 4.85711C7.99874 4.35559 7.86672 3.8629 7.61595 3.42858C7.36519 2.99425 7.00451 2.63358 6.57018 2.38282V4.28568ZM9.99876 12.2857C9.99876 12.7403 10.1794 13.1764 10.5009 13.4979C10.8223 13.8194 11.2584 14 11.713 14C12.1677 14 12.6037 13.8194 12.9252 13.4979C13.2467 13.1764 13.4273 12.7403 13.4273 12.2857V10.5714H9.99876V12.2857ZM9.99876 9.71425H13.4273V8.85711H9.99876V9.71425ZM10.6199 2.87768L11.105 3.96911C11.129 4.02339 11.1416 4.08339 11.1416 4.14282V7.99997H12.2845V4.14282C12.2845 4.08187 12.2967 4.02377 12.321 3.96854L12.8056 2.87768L12.3188 1.99997H11.1073L10.6199 2.87768Z"
                  />
                </mask>
                <path
                  d="M5.88904 1.38054C5.94342 1.34069 6.00643 1.31422 6.07295 1.3033C6.13947 1.29238 6.20763 1.29731 6.2719 1.31768C6.99648 1.54884 7.63262 1.99691 8.09432 2.6013C8.55602 3.2057 8.82101 3.93728 8.85348 4.69715C8.88596 5.45702 8.68434 6.20854 8.27588 6.85012C7.86743 7.4917 7.27183 7.9924 6.56961 8.28454V13.4285C6.56213 13.8024 6.40837 14.1584 6.14133 14.4202C5.87429 14.6819 5.51526 14.8285 5.14133 14.8285C4.76739 14.8285 4.40837 14.6819 4.14133 14.4202C3.87428 14.1584 3.72052 13.8024 3.71304 13.4285V8.28511C3.01082 7.99297 2.41523 7.49227 2.00677 6.85069C1.59832 6.20911 1.3967 5.45759 1.42917 4.69772C1.46164 3.93785 1.72664 3.20627 2.18833 2.60188C2.65003 1.99748 3.28617 1.54942 4.01075 1.31825C4.07497 1.29766 4.14314 1.29251 4.20972 1.30323C4.2763 1.31395 4.33941 1.34022 4.39392 1.37992C4.44843 1.41962 4.4928 1.47163 4.52343 1.53171C4.55406 1.59178 4.57008 1.65824 4.57018 1.72568V4.28568L4.57304 4.34454C4.58769 4.49057 4.65797 4.62537 4.76931 4.72099C4.88065 4.81661 5.02451 4.86573 5.17108 4.85816C5.31765 4.8506 5.45569 4.78692 5.55659 4.68034C5.65749 4.57376 5.71351 4.43244 5.71304 4.28568V1.72625C5.71312 1.65885 5.7291 1.59241 5.75968 1.53234C5.79027 1.47227 5.83458 1.42026 5.88904 1.38054ZM12.6279 1.14625C12.6939 1.15534 12.7569 1.1797 12.8119 1.21739C12.8668 1.25509 12.9122 1.30508 12.9445 1.36339L13.6588 2.64911C13.691 2.70714 13.7094 2.77189 13.7124 2.83823C13.7153 2.90457 13.7029 2.9707 13.6759 3.03139L13.1416 4.23368V7.99997H13.8559C13.9696 7.99997 14.0786 8.04512 14.1589 8.12549C14.2393 8.20586 14.2845 8.31487 14.2845 8.42854V12.2857C14.2845 12.9677 14.0136 13.6217 13.5313 14.104C13.0491 14.5862 12.395 14.8571 11.713 14.8571C11.0311 14.8571 10.377 14.5862 9.89477 14.104C9.41253 13.6217 9.14161 12.9677 9.14161 12.2857V8.42854C9.14161 8.31487 9.18676 8.20586 9.26714 8.12549C9.34751 8.04512 9.45652 7.99997 9.57018 7.99997H10.2845V4.23425L9.74961 3.03139C9.72256 2.97062 9.71003 2.90439 9.71301 2.83794C9.71598 2.77149 9.73438 2.70665 9.76676 2.64854L10.481 1.36282L10.5125 1.31482C10.5524 1.26141 10.6042 1.21805 10.6638 1.1882C10.7235 1.15834 10.7892 1.1428 10.8559 1.14282H12.5702L12.6279 1.14625ZM6.57018 4.28568L6.56276 4.43197C6.52544 4.7964 6.34956 5.13257 6.07144 5.37102C5.79332 5.60946 5.43423 5.73194 5.06837 5.71316C4.70252 5.69438 4.35786 5.53577 4.10562 5.2701C3.85338 5.00444 3.71284 4.65202 3.71304 4.28568V2.38282C3.27871 2.63358 2.91804 2.99425 2.66727 3.42858C2.41651 3.8629 2.28448 4.35559 2.28447 4.85711L2.28675 4.97597C2.31113 5.56102 2.51468 6.12445 2.86985 6.59C3.22501 7.05555 3.71465 7.40073 4.27247 7.57882C4.35891 7.60654 4.43431 7.66098 4.48781 7.73431C4.54132 7.80763 4.57016 7.89605 4.57018 7.98682V13.4285C4.57018 13.5801 4.63039 13.7254 4.73755 13.8326C4.84471 13.9398 4.99006 14 5.14161 14C5.29316 14 5.43851 13.9398 5.54567 13.8326C5.65284 13.7254 5.71304 13.5801 5.71304 13.4285V7.98739C5.71294 7.89653 5.74173 7.80798 5.79524 7.73454C5.84875 7.6611 5.92423 7.60657 6.01076 7.57882C6.56858 7.40073 7.05821 7.05555 7.41338 6.59C7.76854 6.12445 7.97209 5.56102 7.99647 4.97597L7.99875 4.85711C7.99874 4.35559 7.86672 3.8629 7.61595 3.42858C7.36519 2.99425 7.00451 2.63358 6.57018 2.38282V4.28568ZM9.99876 12.2857C9.99876 12.7403 10.1794 13.1764 10.5009 13.4979C10.8223 13.8194 11.2584 14 11.713 14C12.1677 14 12.6037 13.8194 12.9252 13.4979C13.2467 13.1764 13.4273 12.7403 13.4273 12.2857V10.5714H9.99876V12.2857ZM9.99876 9.71425H13.4273V8.85711H9.99876V9.71425ZM10.6199 2.87768L11.105 3.96911C11.129 4.02339 11.1416 4.08339 11.1416 4.14282V7.99997H12.2845V4.14282C12.2845 4.08187 12.2967 4.02377 12.321 3.96854L12.8056 2.87768L12.3188 1.99997H11.1073L10.6199 2.87768Z"
                  stroke="white"
                  stroke-width="2"
                  mask="url(#path-1-inside-1_3797_4330)"
                />
              </svg>
            )}
            </div>

            <h3 class="card-title">{card.title}</h3>
          </div>

          <p class="card-body">{card.body}</p>
        </article>
      ))}
    </div>
  </div>
</section>

<style>
  .why-support-section {
    background-color: #f3f4f6;
    padding: 4rem 0;
  }

  .section-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }

  .why-support-header {
    margin-bottom: 24px;
  }

  .why-support-title {
    font-family: "Zilla Slab", serif;
    font-size: 30px;
    font-weight: 700;
    color: #111827;
    margin: 0 0 8px;
  }

  .why-support-subtitle {
    font-size: 16px;
    color: #4b5563;
    margin: 0;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
  }

  .support-card {
    background-color: #cefe00;
    border-radius: 16px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card-header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .icon-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background-color: #1a1b1e;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #111827;
    margin: 0;
  }

  .card-body {
    font-size: 14px;
    line-height: 20px;
    color: #111827;
    margin: 0;
    margin-left: 52px; /* icon (40px) + gap (12px) */
  }

  @media (max-width: 1280px) {
    .section-container {
      padding: 0 48px;
    }
  }

  @media (max-width: 1024px) {
    .cards-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (max-width: 768px) {
    .section-container {
      padding: 0 24px;
    }

    .cards-grid {
      grid-template-columns: 1fr;
    }

    .why-support-section {
      padding: 3rem 0;
    }
  }
</style>

