---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
import NewsJSON from "../data/news.json";
---

<div class="section-container">
	<h2 class="section-heading">News & Stories</h2>

	<!-- container to wrap news cards -->

	<div class="news-container">
		<!-- news card one -->

		{
			NewsJSON.slice(0, 6).map((news) => (
				<div class="news-card">
					<div class="content">
						<h3 class="news-headline">{news.headline}</h3>
						<div class="news-image-wrapper">
							<img src={news.imgSrc} alt="" />
						</div>
					</div>

					<div class="link">
						<span class="link-icon">
							<Icon name="mdi:link" />
						</span>
						<a href={news.newsSrc}>{news.linkText}</a>
					</div>
				</div>
			))
		}
	</div>

	<!-- link to redirect to news landing page -->
	<a href="#" class="cta-link">See All</a>
</div>

<style>
	.section-container {
		margin: 53px auto 83px;
		position: relative;
	}

	.section-heading {
		font-size: 24px;
		font-weight: 700px;
		line-height: 32px;
		margin-bottom: 24px;
	}

	.news-container {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		gap: 24px 16px;
	}

	.news-card {
		padding-bottom: 12px;
		border-bottom: 2px solid #cefe00;
		/* max-width: 403px; */
		width: 32%;
		overflow: hidden;
	}

	.news-card .content {
		display: flex;
		justify-content: space-between;
		gap: 16px;
		margin-bottom: 12px;
	}

	.news-headline {
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		text-transform: capitalize;
		width: calc(100% - 136px);
	}

	.news-image-wrapper {
		width: 112px;
		height: 112px;
		border-radius: 8px;
		overflow: hidden;
	}

	.news-image-wrapper img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.link a {
		font-size: 14px;
		color: #364fc7;
		line-height: 16px;
		text-decoration: none;
	}

	.link-icon {
		display: inline-block;
		vertical-align: middle;
	}

	.cta-link {
		display: block;
		position: absolute;
		top: 10px;
		right: 0;
		color: #364fc7;
		font-size: 12px;
	}

	@media screen and (max-width: 1024px) {
		.news-container {
			flex-wrap: wrap;
		}

		.news-card {
			width: 48%;
		}

	}

	/* media queries for desktop */

	@media screen and (max-width: 768px) {
		.section-container {
			margin: 24px 32px 64px;
		}

		.news-container {
			flex-direction: column;
			gap: 24px;
		}

		.news-card {
			width: 100%;
		}
	}
</style>
