---
import "../styles/global.css";
---

<footer class="section-container">
	<h2 class="section-heading">Contribute</h2>

	<!-- container to wrap footer content -->

	<!-- three column layout -->
	<div class="content-wrapper">
		<div class="column">
			<p>
				Passionate about climate knowledge and actions? Keep Nepal Climate Hub
				up to date.
			</p>
			<button><a href="/volunteer">Volunteer</a></button>
		</div>

		<div class="column">
			<p>
				Don’t see your organization on Nepal Climate Hub? Register your profile
				with us!
			</p>
			<button><a href="/submit-profile">Submit profile</a></button>
		</div>

		<div class="column">
			<p>Stay connected with Nepal climate news and updates from us!</p>
			<div class="emailWrapper">
				<p class="emailMessage"></p>
				<form class="form" method="post" id="emailForm">
					<input
						id="userEmail"
						type="email"
						placeholder="Email"
						name="email"
						autocomplete="off"
						required
					/>
					<button>Submit</button>
				</form>
			</div>
			
			
		</div>
	</div>

	<!-- horizontal menu bar -->

	<div class="footer-detail">
		<div class="footer-navbar">
			<div class="navbar">
				<h4>CONNECT</h4>
				<a href="/organizations">ORGANIZATION</a>
				&vert;
				<a href="/climate-champions">ACTIVISTS</a>
				&vert;
				<a href="events">EVENTS</a>
			</div>

			<div class="navbar">
				<h4>LEARN</h4>
				<a href="/personal-commitments">PERSONAL COMMITMENTS</a>
				&vert;
				<a href="/news&stories">NEWS & STORIES</a>
			</div>

			<div class="navbar">
				<h4>NCH.ORG</h4>
				<a href="/about">ABOUT</a>
			</div>
		</div>

		<p class="footer-note">
			&copy; 2024 Nepal Climate Hub. All Rights Reserved.
		</p>
	</div>
</footer>

<script>
	const form = document.getElementById("emailForm");

	form?.addEventListener("submit", async function (event) {
		event.preventDefault(); // prevent page reload
		const form = event.target as HTMLFormElement | null;
		let userEmail = document.getElementById(
			"userEmail"
		) as HTMLInputElement | null;
		let emailMessage = document.querySelector(
			".emailMessage"
		) as HTMLElement | null;

		if (form && userEmail) {
			let payload = {
				email: userEmail.value,
			};

			try {
				const response = await fetch(
					"http://localhost:4321/api/save-subscription-email",
					{
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify(payload),
					}
				);

				form.style.display = "none";

				if (response.ok) {
					if (emailMessage) {
						emailMessage.innerText = "Thank you for staying connected!";
						emailMessage.style.display = "block";
						emailMessage.style.color = "#cefe00";
					}

					// Handle success response
				} else {
					if (emailMessage) {
						emailMessage.innerText =
							"Email submission failed...Sorry! Contact us.";
						emailMessage.style.display = "block";
						emailMessage.style.color = "red";
					}
				}
			} catch (error) {
				console.error("Error submitting form:", error);
			}
		}
	});
</script>

<style>
	.section-container {
		padding: 86px 0px 36px;
		position: relative;
	}

	.section-heading {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		background-color: #364fc7;
		padding: 0px 12px;
		position: absolute;
		top: -10px;
		transform: rotate(6deg);
	}

	.content-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 88px;
	}

	.content-wrapper p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 18px;
	}

	.content-wrapper button {
		border: none;
		border-radius: 16px;
		display: block;
	}

	.content-wrapper button a {
		text-decoration: none;
		font-size: 14px;
		padding: 8px 16px;
		border-radius: 16px;
		background-color: #cefe00;
		color: #25262b;
	}

	.content-wrapper button a:hover {
		background-color: #1a1b1e;
		color: white;
		border: 1px solid white;
	}

	.form {
		display: flex;
		gap: 12px;
		margin-top: -10px;
	}

	.form input {
		width: 100%;
		border-radius: 16px;
		font-size: 14px;
		padding: 2px 16px;
		border: none;
	}

	.form input:active,
	.form input:focus {
		outline: 2px solid #cefe00;
	}

	.form button {
		padding: 8px 16px;
		color: white;
		background-color: transparent;
		border: 1px solid white;
		cursor: pointer;
	}

	.form button:hover {
		background-color: #cefe00;
		border-color: #cefe00;
		color: #25262b;
	}

	.footer-detail {
		display: flex;
		justify-content: space-between;
	}

	.footer-navbar {
		display: flex;
		gap: 24px;
	}

	.navbar {
		display: flex;
		gap: 8px;
	}

	.navbar h4 {
		font-size: 14px;
		font-weight: 700;
	}

	.navbar a {
		color: #f8f9fa;
		font-size: 14px;
		text-decoration: none;
	}

	.navbar a:hover {
		color: #cefe00;
	}

	.footer-note {
		font-size: 12px;
		line-height: 14px;
	}

	.emailWrapper {
		position: relative;
	}
	.emailMessage {
		display: block;
		position:absolute;
		top: -5px;
	}

	/* styles for responsiveness */

	@media screen and (max-width: 1100px) {
		.footer-detail {
			flex-direction: column;
			gap: 16px;
		}
	}

	@media screen and (max-width: 768px) {
		.section-container {
			padding-bottom: 16px;
			margin: 0px 32px 0px 24px;
		}

		.section-heading {
			top: -15px;
			right: 24px;
		}

		.content-wrapper {
			flex-direction: column;
			margin-bottom: 32px;
		}

		.content-wrapper .column {
			border-bottom: 1px solid #ebf1f7;
			padding-bottom: 30px;
		}

		.footer-navbar {
			flex-direction: column;
			gap: 8px;
			margin-bottom: 0px;
		}

		.navbar {
			align-items: center;
			gap: 4px;
		}

		.navbar a {
			font-size: 12px;
		}

		.navbar h4 {
			font-size: 12px;
			min-width: 74px;
		}
	}
</style>
