---
import { Icon } from "astro-icon/components";
---

<!-- header section begins  -->
<header class="section-container">
	<div class="logo-wrapper">
		<span class="logo">NEPAL CLIMATE HUB</span>
	</div>

	<!-- main nagivation bar -->
	<nav>
		<ul class="main-menu">
			<li class="menu-heading">
				<a href="#"
					>Connect <span class="dropdown-icon"><Icon name="dropdown" /></span
					></a
				>
				<ul class="sub-menu">
					<li><a href="#">Organizations</a></li>
					<li><a href="#">Activists</a></li>
					<li><a href="#">Events</a></li>
				</ul>
			</li>

			<li class="menu-heading">
				<a href="#"
					>Learn <span class="dropdown-icon"><Icon name="dropdown" /></span></a
				>
				<ul class="sub-menu">
					<li><a href="#">Personal Commitments</a></li>
					<li><a href="#">News & Stories</a></li>
				</ul>
			</li>

			<li class="menu-heading">
				<a href="#"
					>Contribute <span class="dropdown-icon"><Icon name="dropdown" /></span
					></a
				>
				<ul class="sub-menu">
					<li><a href="#">Volunteer</a></li>
					<li><a href="#">Submit Profile</a></li>
				</ul>
			</li>

			<li class="menu-heading"><a href="#">About</a></li>
		</ul>

		<!-- bottom horizontal navigation for mobile device -->
		<div class="bottom-nav">
			<span>ABOUT NCH</span>
			<ul>
				<li><a href="#">Facts</a></li>
				<li><a href="#">Mission</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>

		<!-- cross icon for mobile layout -->
		<div class="cross-icon"><Icon name="cross" /></div>
	</nav>

	<!-- menu button for mobile device -->
	<button class="header-cta"><a href="#">Action Menu</a></button>
</header>
