---
import NewsFilter from '../components/NewsFilter.jsx';
// import newsTemp from '../data/newsTemp.json';
import { fetchNews } from '../utils/api';
import sortNewsArray from '../utils/sortNewsArray.js';
import type { SortData } from '../utils/sortNewsArray.js';

const { data: newsData } = await fetchNews();
const transformedData: SortData[] = (newsData || []).map((item, index) => ({
  id: index.toString(),
  title: item.title,
  source: item.source,
  mode: item.mode,
  category: item.tags.map((tag: any) => String(tag.tag)),
  publishedDate: item.publishedDate,
  publishedYear: item.publishedYear,
  newsLink: item.newsLink,
  contributedBy: item.contributedBy,
  imgSrc: item.bannerImageUrl,
}));

const NewsJSON = sortNewsArray(transformedData);
---

<div class="section-container">
  <NewsFilter client:load newsData={NewsJSON} />
</div>
<style>
  .section-container {
    margin: 24px auto 83px;
    position: relative;
  }

  /* media queries for mobile */

  @media screen and (max-width: 768px) {
    .section-container {
      margin: 24px 32px 64px;
    }

    .news-container {
      flex-direction: column;
      gap: 24px;
    }

    .news-card {
      width: 100%;
    }
  }
</style>
