---
import "../styles/global.css";
import Card from "@layouts/Card.astro";

//sample organization JSON data
import organizationJSON from "../data/organizations.json";
---

<div class="section-container">
	<div class="card-wrapper">
		{
			organizationJSON.map((organization) => (
				<Card data = {organization} />
			))
		}
	</div>

	<button class="load-more-btn"> Load More </button>
</div>

<style>
	.section-container {
		margin: 0px auto 83px;
		position: relative;
	}

	.card-wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 16px;
		margin-bottom: 57px;
	}

	.load-more-btn {
		display: block;
		width: 104px;
		margin: 0 auto;
		font-size: 14px;
		font-family: Roboto;
		line-height: 16px;
		border-radius: 16px;
		padding: 8px 16px;
		cursor: pointer;
		background-color: transparent;
		margin-bottom: 71px;
	}

	.load-more-btn:hover {
		background-color: #1a1b1e;
		color: white;
	}
</style>
