---
import SocialShare from './SocialShare.astro';

interface Props {
    status: string;
}

const {status} = Astro.props;

const cleanedStatus = status.toLowerCase().trim();
const statusClass = status ? `status-${cleanedStatus}`: 'status-unknown' ;
---

<div class="container">
  <!-- event status -->
  {
    status && (<div class={`event-status ${statusClass}`}>{cleanedStatus}</div>)
  }

  <!-- share section -->
   <SocialShare />
</div>

<style>
  .container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 8px;
    flex-wrap: wrap;
  }

  .event-status{
    border-radius: 16px;
    padding: 5px 12px;
    font-size: 12px;
    text-transform: capitalize;
  }
  .status-open{
    border: 1px solid #5BA300;
    background-color: #E8FFD1;
    color: #5BA300;
    font-weight: 400;
  }
  .status-ongoing{
    border: 1px solid #364FC7;
    background-color: #E8FFD1;
    color: #364FC7;
  }
  .status-closed{
    border: 1px solid #D92D20;
    background-color: #FFE5E5;
    color: #D92D20;
  }
  .status-upcoming, .status-unknown {
    border: 1px solid #CA8A04;
    background-color: #FEF3C7;
    color: #CA8A04;
  }
</style>