---
import "../styles/global.css";
---

<div class="section-container">
  <h2 class="section-heading">Impact Stories</h2>
  <div class="container">
    <div class="slideshow-container">
      <div class="slides-wrapper">
        <div class="mySlides" data-original-index="3">
          <div class="image-wrapper">
            <img
              src="https://ik.imagekit.io/mbccqjudb/Testimonials/prakriti-koirala.jpg"
              alt="Person 3"
            />
          </div>
          <div class="card-content">
            <p class="testimonial">
              Nepal Climate Hub as a timely and truly valuable platform for
              Nepal’s climate community. Whether you're just starting out or
              have years of experience, it offers the support we need -
              connecting us to opportunities, people, and organizations. NCH
              will amplify our voices and build a more informed, collaborative
              climate movement.
            </p>
            <div class="details">
              <h3 class="name">Prakriti Koirala</h3>
              <p class="profession">Senior Researcher at Clim Adapt</p>
              <div class="logo">
                <a
                  href="https://np.linkedin.com/in/prakritikoirala"
                  class="social-link"
                  aria-label="LinkedIn profile"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="#212529"></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="black"
                      fill-opacity="0.2"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="mySlides" data-original-index="2">
          <div class="image-wrapper">
            <img
              src="https://ik.imagekit.io/mbccqjudb/Testimonials/Dikshya.jpeg"
              alt="Person 2"
            />
          </div>
          <div class="card-content">
            <p class="testimonial">
              Nepal Climate Hub is a much-needed platform that unites grassroots
              activists, youth, and experts from across Nepal. Its focus on
              collaboration, knowledge sharing, and local climate action makes
              it a powerful initiative with real potential to create lasting
              impact. Appreciate the effort behind this initiative.
            </p>
            <div class="details">
              <h3 class="name">Dikshya Subedi</h3>
              <p class="profession">Country Lead at She Changes Climate</p>
              <div class="logo">
                <a
                  href="https://np.linkedin.com/in/dikshya-subedi-226400170"
                  class="social-link"
                  aria-label="LinkedIn profile"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="#212529"></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="black"
                      fill-opacity="0.2"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="mySlides" data-original-index="1">
          <div class="image-wrapper">
            <img
              src="https://ik.imagekit.io/mbccqjudb/Testimonials/Avalon.jpeg"
              alt="Person 1"
            />
          </div>
          <div class="card-content">
            <p class="testimonial">
              Nepal Climate Hub was incredibly helpful in connecting me with
              climate workers in Nepal. It was integral to the success of my
              work there. The fact that the Hub details the specific focus areas
              of each person and provides contact details makes it one of the
              best resources I have found in my international work.
            </p>
            <div class="details">
              <h3 class="name">Avalon Bourne</h3>
              <p class="profession">Founder & CEO at Sonder Youth</p>
              <div class="logo">
                <a
                  href="https://au.linkedin.com/in/avalonbourne"
                  class="social-link"
                  aria-label="LinkedIn profile"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="#212529"></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="black"
                      fill-opacity="0.2"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="mySlides" data-original-index="2">
          <div class="image-wrapper">
            <img
              src="https://ik.imagekit.io/mbccqjudb/Testimonials/Dikshya.jpeg"
              alt="Person 2"
            />
          </div>
          <div class="card-content">
            <p class="testimonial">
              Nepal Climate Hub is a much-needed platform that unites grassroots
              activists, youth, and experts from across Nepal. Its focus on
              collaboration, knowledge sharing, and local climate action makes
              it a powerful initiative with real potential to create lasting
              impact. Appreciate the effort behind this initiative.
            </p>
            <div class="details">
              <h3 class="name">Dikshya Subedi</h3>
              <p class="profession">Country Lead at She Changes Climate</p>
              <div class="logo">
                <a
                  href="https://np.linkedin.com/in/dikshya-subedi-226400170"
                  class="social-link"
                  aria-label="LinkedIn profile"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="#212529"></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="black"
                      fill-opacity="0.2"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="mySlides" data-original-index="3">
          <div class="image-wrapper">
            <img
              src="https://ik.imagekit.io/mbccqjudb/Testimonials/prakriti-koirala.jpg"
              alt="Person 3"
            />
          </div>
          <div class="card-content">
            <p class="testimonial">
              Nepal Climate Hub as a timely and truly valuable platform for
              Nepal’s climate community. Whether you're just starting out or
              have years of experience, it offers the support we need -
              connecting us to opportunities, people, and organizations. NCH
              will amplify our voices and build a more informed, collaborative
              climate movement.
            </p>
            <div class="details">
              <h3 class="name">Prakriti Koirala</h3>
              <p class="profession">Senior Researcher at Clim Adapt</p>
              <div class="logo">
                <a
                  href="#"
                  class="social-link"
                  aria-label="LinkedIn profile"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="#212529"></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="black"
                      fill-opacity="0.2"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="mySlides" data-original-index="1">
          <div class="image-wrapper">
            <img
              src="https://ik.imagekit.io/mbccqjudb/Testimonials/Avalon.jpeg"
              alt="Person 1"
            />
          </div>
          <div class="card-content">
            <p class="testimonial">
              Nepal Climate Hub was incredibly helpful in connecting me with
              climate workers in Nepal. It was integral to the success of my
              work there. The fact that the Hub details the specific focus areas
              of each person and provides contact details makes it one of the
              best resources I have found in my international work.
            </p>
            <div class="details">
              <h3 class="name">Avalon Bourne</h3>
              <p class="profession">Founder & CEO at Sonder Youth</p>
              <div class="logo">
                <a
                  href="https://au.linkedin.com/in/avalonbourne"
                  class="social-link"
                  aria-label="LinkedIn profile"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="#212529"></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="black"
                      fill-opacity="0.2"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mySlides" data-original-index="2">
          <div class="image-wrapper">
            <img
              src="https://ik.imagekit.io/mbccqjudb/Testimonials/Dikshya.jpeg"
              alt="Person 2"
            />
          </div>
          <div class="card-content">
            <p class="testimonial">
              Nepal Climate Hub is a much-needed platform that unites grassroots
              activists, youth, and experts from across Nepal. Its focus on
              collaboration, knowledge sharing, and local climate action makes
              it a powerful initiative with real potential to create lasting
              impact. Appreciate the effort behind this initiative.
            </p>
            <div class="details">
              <h3 class="name">Dikshya Subedi</h3>
              <p class="profession">Country Lead at She Changes Climate</p>
              <div class="logo">
                <a
                  href="https://np.linkedin.com/in/dikshya-subedi-226400170"
                  class="social-link"
                  aria-label="LinkedIn profile"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="#212529"></path>
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M6 5C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5H6ZM3 6C3 4.34315 4.34315 3 6 3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6ZM8 7C8.55228 7 9 7.44772 9 8V8.01C9 8.56228 8.55228 9.01 8 9.01C7.44772 9.01 7 8.56228 7 8.01V8C7 7.44772 7.44772 7 8 7ZM8 10C8.55228 10 9 10.4477 9 11V16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16V11C7 10.4477 7.44772 10 8 10ZM11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V13C13 12.7348 13.1054 12.4804 13.2929 12.2929C13.4804 12.1054 13.7348 12 14 12C14.2652 12 14.5196 12.1054 14.7071 12.2929C14.8946 12.4804 15 12.7348 15 13V16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16V13C17 12.2043 16.6839 11.4413 16.1213 10.8787C15.5587 10.3161 14.7957 10 14 10C13.5483 10 13.1071 10.1019 12.7071 10.2929C12.5261 10.1119 12.2761 10 12 10C11.4477 10 11 10.4477 11 11V16Z"
                      fill="black"
                      fill-opacity="0.2"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div style="text-align: center" class="controls">
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
</div>

<script is:inline>
  const slidesWrapper = document.querySelector(".slides-wrapper");
  const dots = document.getElementsByClassName("dot");
  const allSlides = document.getElementsByClassName("mySlides");

  if (!slidesWrapper || allSlides.length === 0 || dots.length === 0) {
    console.error("Required DOM elements are missing.");
  } else {
    const numOriginalSlides = 3;
    let currentRealSlideIndex = 1;
    let displayedIndex = 2;
    let slideWidth;

    slidesWrapper.style.transition = "none";
    positionSlideshow();
    void slidesWrapper.offsetWidth;
    slidesWrapper.style.transition = "transform 0.5s ease-in-out";
    updateDots();

    function plusSlides(n) {
      currentRealSlideIndex += n;
      displayedIndex += n;
      applySlideTransition();
      updateDots();
    }

    function currentSlide(n) {
      currentRealSlideIndex = n;
      displayedIndex = currentRealSlideIndex - 1 + 2;
      applySlideTransition();
      updateDots();
    }

    function applySlideTransition() {
      slideWidth = getSlideFullWidth();
      slidesWrapper.style.transform = `translateX(-${displayedIndex * slideWidth}px)`;
    }

    function positionSlideshow() {
      slideWidth = getSlideFullWidth();
      slidesWrapper.style.transform = `translateX(-${displayedIndex * slideWidth}px)`;
    }

    function getSlideFullWidth() {
      const style = getComputedStyle(slidesWrapper);
      const gap = parseInt(style.columnGap || style.gap || "0", 10);
      return allSlides[0].offsetWidth + gap;
    }

    function updateDots() {
      for (let i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      if (dots[currentRealSlideIndex - 1]) {
        dots[currentRealSlideIndex - 1].className += " active";
      }
    }

    slidesWrapper.addEventListener("transitionend", () => {
      if (currentRealSlideIndex > numOriginalSlides) {
        slidesWrapper.style.transition = "none";
        currentRealSlideIndex = 1;
        displayedIndex = currentRealSlideIndex - 1 + 2;
        applySlideTransition();
        void slidesWrapper.offsetWidth;
        slidesWrapper.style.transition = "transform 0.5s ease-in-out";
        updateDots();
      } else if (currentRealSlideIndex < 1) {
        slidesWrapper.style.transition = "none";
        currentRealSlideIndex = numOriginalSlides;
        displayedIndex = currentRealSlideIndex - 1 + 2;
        applySlideTransition();
        void slidesWrapper.offsetWidth;
        slidesWrapper.style.transition = "transform 0.5s ease-in-out";
        updateDots();
      }
    });

    let autoSlideInterval = setInterval(() => {
      plusSlides(1);
    }, 4000);

    const slideshowContainer = document.querySelector(".slideshow-container");
    if (slideshowContainer) {
      slideshowContainer.addEventListener("mouseenter", () => {
        clearInterval(autoSlideInterval);
      });

      slideshowContainer.addEventListener("mouseleave", () => {
        autoSlideInterval = setInterval(() => {
          plusSlides(1);
        }, 3000);
      });
    }

    window.addEventListener("resize", () => {
      slideWidth = getSlideFullWidth();
      slidesWrapper.style.transition = "none";
      displayedIndex = currentRealSlideIndex - 1 + 2;
      applySlideTransition();
      void slidesWrapper.offsetWidth;
      slidesWrapper.style.transition = "transform 0.5s ease-in-out";
    });
  }
</script>

<style>
  .section-container {
    margin: 53px auto;
    position: relative;
  }

  .section-container .section-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 24px;
  }

  /* .container {
    border: 2px solid red;
  } */

  /* Slideshow container */
  .slideshow-container {
    max-width: 1280px;
    position: relative;
    margin: auto;
    overflow: hidden;
  }

  /* Wrapper for all slides */
  .slides-wrapper {
    display: flex;
    gap: 48px;
    transition: transform 0.5s ease-in-out;
  }

  .mySlides {
    width: 637px;
    height: 334px;
    flex-shrink: 0;
    position: relative;

    display: flex;
    gap: 24px;
  }

  .image-wrapper {
    width: 248px;
    height: 286px;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: none;
  }

  .card-content {
    flex: 1;
    font-family: "Roboto", sans-serif;
  }

  .testimonial {
    line-height: 25px;
    margin-bottom: 32px;
    color: #333;
  }

  .name {
    font-size: 18px;
    font-weight: 600;
    color: #000;
  }

  .profession {
    font-size: 14px;
    margin-bottom: 14px;
    color: #666;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 4px;
    z-index: 12123;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
    border-color: blue;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.089);
  }

  .controls {
    position: relative;
    width: 160px;
    margin: 0 auto;
  }

  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  @media screen and (max-width: 768px) {
    .section-container {
      margin: 24px 32px 64px;
    }

    .slides-wrapper {
      gap: 0px;
    }

    .mySlides {
      width: 100%;
      height: auto;
      flex-direction: column;
    }

    .image-wrapper {
      width: 100%;
      height: 240px;
    }

    .mySlides img {
      object-position: top;
    }
  }
</style>
