---
import "../styles/global.css";
---

<div class="section-container">
	<div class="description-section">
		<h2 class="section-heading">Volunteer for Nepal Climate Hub</h2>
		<div class="introduction-section">
			<p>
				We are currently looking to onboard our first six core volunteers to
				propel Nepal Climate Hub forward.
			</p>
			<p>
				Our mission is to educate, connect, and empower Nepal’s young people
				with knowledge of climate science, climate champions, climate-based
				organizations, timely information and resources, opportunities, and
				practical guidance to address pressing climate challenges through
				individual and collective action via our centralized platform.
			</p>
			<p>
				If you have a deep understanding & passion of climate change in the
				context of Nepal and want to leverage your knowledge to inspire,
				educate, and mobilize thousands of Nepalese youths, we invite you to
				join us.
			</p>
		</div>
		<div class="why-volunteer-section sub-section">
			<h3 class="sub-heading">Why Volunteer with Us?</h3>
			<p>
				Volunteering with Nepal Climate Hub offers a unique opportunity to make
				a real impact on climate action in Nepal. Here’s what you’ll gain:
			</p>
			<dl>
				<dt class="description-term"><strong>Hands-On Experience</strong></dt>
				<dd class="description-definition">
					Work to educate and empower others about climate change, making a real
					impact in Nepal.
				</dd>

				<dt class="description-term">
					<strong>Networking Opportunities</strong>
				</dt>
				<dd class="description-definition">
					Connect with like-minded individuals passionate about climate action.
				</dd>

				<dt class="description-term"><strong>Skill Development</strong></dt>
				<dd class="description-definition">
					Enhance your skills in content writing, social media management,
					communications, and design.
				</dd>

				<dt class="description-term"><strong>Community Impact</strong></dt>
				<dd class="description-definition">
					Your efforts will directly contribute to educating and empowering
					thousands of youths across Nepal.
				</dd>
			</dl>
		</div>
		<div class="eligibilty-section sub-section">
			<h3 class="sub-heading">Eligibility</h3>
			<p>
				Bachelor’s and Master’s students passionate about climate action who can
				contribute in the following areas:
			</p>

			<dl>
				<dt class="description-term"><strong>Climate Educator (2) </strong></dt>
				<dd class="description-definition">
					Write blogs and articles on relevant climate topics, and develop
					curriculum materials covering climate science and terminologies,
					Nepal’s position on climate change, Sustainable Development Goals
					(SDGs), environmental problems, biodiversity, and climate action
					advocacy (COP, SB60, NDCs, NAPA/LAPA, Climate Finance, etc.) in a
					beginner-friendly way.
				</dd>
				<dt class="description-term">
					<strong>Climate Content Editor (1) </strong>
				</dt>
				<dd class="description-definition">
					Review and edit blogs, articles, and curriculum materials on climate
					topics, ensuring accuracy, clarity, and impact in a beginner-friendly
					manner.
				</dd>

				<dt class="description-term">
					<strong>Social Media Specialist (1) </strong>
				</dt>
				<dd class="description-definition">
					Create creative, thoughtful, and informative content for social media
					(Facebook and LinkedIn) in collaboration with designers.
				</dd>

				<dt class="description-term">
					<strong>Communications and Outreach Coordinator (1) </strong>
				</dt>
				<dd class="description-definition">
					Extract, collect, and organize information about climate-based
					organizations, events, and climate champions from the internet for our
					platform. Be the face of our organization for any partnerships or
					collaboration.
				</dd>

				<dt class="description-term"><strong>UI/UX Designer (1) </strong></dt>
				<dd class="description-definition">
					Design compelling visuals for our social media channels in
					collaboration with the social media volunteer. Create wireframes and
					designs for our website if needed.
				</dd>

				<dt class="description-term">
					<strong>Software Engineer (1) </strong>
				</dt>
				<dd class="description-definition">
					Enhance the platform by adding new features and pages as required. <br
					/>Frontend: HTML, CSS, JavaScript, TypeScript, Astro <br />Backend:
					Prisma, Neon
				</dd>
			</dl>
		</div>
		<div class="benefits-section sub-section">
			<h3 class="sub-heading">Benefits</h3>
			<dl>
				<dt class="description-term">
					<strong>Acknowledge Your Contributions</strong>
				</dt>
				<dd class="description-definition">
					Your efforts will be recognized on our platform.
				</dd>

				<dt class="description-term"><strong>Verifiable Credential</strong></dt>
				<dd class="description-definition">
					Receive a Certificate of Appreciation upon completion.
				</dd>

				<dt class="description-term"><strong>Become a Core Member</strong></dt>
				<dd class="description-definition">
					Opportunity to become an integral part of our organization.
				</dd>
			</dl>
		</div>
	</div>
</div>

<style>
	.section-container {
		max-width: 760px;
		margin: 48px auto 0px;
		text-align: justify;
	}

	.section-heading {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 24px;
	}

	.introduction-section {
		margin-bottom: 24px;
	}

	.introduction-section p {
		line-height: 24px;
		margin-bottom: 8px;
	}

	.sub-heading {
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		margin-bottom: 8px;
	}

	.sub-section p {
		line-height: 24px;
		margin-bottom: 8px;
	}

	.description-term {
		font-size: 16px;
		line-height: 24px;
	}

	.description-definition {
		margin-bottom: 16px;
		line-height: 24px;
	}

	/* style for responsiveness */

	@media screen and (max-width: 768px) {
		.section-container {
			margin: 24px 24px 32px;
			text-align: left;
		}
	}
</style>
