---
import "../styles/global.css";
---

<div class="section-container">
	<div class="description-section">
		<h2 class="section-heading">Join Nepal Climate Hub</h2>
		<div class="introduction-section">
			<p>
				We are currently looking to onboard our first volunteer Operating Team
				to propel Nepal Climate Hub forward.
			</p>
			<p>
				Our mission is to educate, connect, and empower Nepal’s young people
				with timely information, resources, networking opportunities, and
				practical guidance to address pressing climate challenges through
				individual and collective action.
			</p>
			<p>
				If you have a deep understanding and passion for climate change and
				solutions in Nepal and want to leverage your knowledge and skills to
				inspire, educate, inspire, and mobilize youth across Nepal, we invite
				you to join us.
			</p>
		</div>
		<div class="why-volunteer-section sub-section">
			<h3 class="sub-heading">Why volunteer with us?</h3>
			<p>
				Volunteering with Nepal Climate Hub as a member of our first Operating
				Teams offers a unique opportunity to gain hands-on experience in
				nonprofit leadership and operations while making a meaningful
				contribution to climate action in Nepal. Here’s what you’ll gain:
			</p>
			<ul class="volunteering-list">
				<li>
					<span class="description-term"
						><strong>Content Knowledge</strong></span
					>: Deepen your understanding of climate issues facing Nepal, as well
					as the activists, researchers, and organizations working to advance
					policy change and develop and deploy effective solutions.
				</li>
				<li>
					<span class="description-term"
						><strong>Skill Development</strong></span
					>: Gain and practice new skills in copywriting, social media and
					content management, software engineering, branding, project
					management, design, and more.
				</li>
				<li>
					<span class="description-term"
						><strong>Networking Opportunities</strong></span
					>: Connect with like-minded individuals and organizations passionate
					about climate action.
				</li>
				<li>
					<span class="description-term"><strong>Community Impact</strong></span
					>: Play a direct role in educating and empowering thousands of youth
					across Nepal to make a meaningful difference in their communities.
				</li>
			</ul>
		</div>
		<div class="eligibilty-section sub-section">
			<h3 class="sub-heading">Eligibility</h3>
			<p>
				We are seeking Bachelor’s (Senior) and Master’s students who are
				passionate about climate action and committed to growing the impact and
				reach of Nepal Climate Hub. In particular we are looking for individuals
				with practical knowledge and experience that aligns with the following
				roles:
			</p>

			<ul class="roles-list">
				<li>
					<span class="description-term"
						><strong>Content Writer (1)</strong></span
					>
					<ul>
						<li>
							Create and publish organizational profiles, climate champion
							profiles, upcoming events, news, and other educational resources
							to keep our target audience informed and engaged.
						</li>
						<li>
							Conduct research on climate science, policy, and trends to provide
							well-informed content and stay current with the latest
							developments.
						</li>
					</ul>
				</li>
				<li>
					<span class="description-term"
						><strong>Climate Educator (2)</strong></span
					>
					<ul>
						<li>
							Design, develop, and deliver educational resources including
							articles, blogs, introductory courses about climate change and
							climate solutions.
						</li>
						<li>
							Conduct workshops, training sessions, and seminars to educate
							students and young professionals about climate science, mitigation
							strategies, and adaptation practices.
						</li>
					</ul>
				</li>
				<li>
					<span class="description-term"
						><strong>Climate Editor (1)</strong></span
					>
					<ul>
						<li>
							Oversee the creation, editing, and publication of various types of
							content, including articles, blog posts, social media posts,
							newsletters, videos, and reports.
						</li>
						<li>
							Ensure the timeliness and accuracy of content across Nepal Climate
							Hub as well as alignment with the organization's mission and
							goals.
						</li>
					</ul>
				</li>
				<li>
					<span class="description-term"
						><strong>Social Media Manager (1)</strong></span
					>
					<ul>
						<li>
							Create and manage the organization's social media presence to
							raise awareness about climate issues and promote environmental
							advocacy.
						</li>
						<li>
							Develop and execute social media strategies, create engaging
							content such as posts, videos, and infographics, and interact with
							followers to build a dynamic and productive community.
						</li>
					</ul>
				</li>
				<li>
					<span class="description-term"
						><strong>UI/UX Designer (1)</strong></span
					>
					<ul>
						<li>
							Conduct ongoing user research to refine understanding and needs of
							target audiences.
						</li>
						<li>
							Develop wireframes and prototypes, and design visually engaging
							messages, campaigns and web interfaces.
						</li>
						<li>
							Collaborate closely with climate educators and other team members
							to integrate visual and user experience considerations across all
							digital and social media platforms.
						</li>
					</ul>
				</li>
				<li>
					<span class="description-term"
						><strong>Software Engineer (1)</strong></span
					>
					<ul>
						<li>
							Develop and maintain Nepal Climate Hub to ensure it is functional,
							engaging, and aligned with the organization’s mission and goals.
						</li>
						<li>
							Collaborate closely with UI/UX designer and other team members to
							implement user-friendly interfaces and website functionalities
							that support outreach efforts, such as event promotion and new
							content.
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<style>
	.section-container {
		max-width: 760px;
		margin: 48px auto 0px;
	}

	.section-heading {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 24px;
	}

	.introduction-section {
		margin-bottom: 24px;
	}

	.introduction-section p {
		line-height: 24px;
		margin-bottom: 8px;
	}

	.sub-heading {
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		margin-bottom: 8px;
	}

	.sub-section p {
		line-height: 24px;
		margin-bottom: 8px;
	}

	ul.volunteering-list {
		margin-bottom: 24px;
	}

	ul.volunteering-list li {
		list-style-type: none;
		line-height: 24px;
		margin-bottom: 8px;
	}

	ul.roles-list .description-term {
		margin-bottom: 8px;
		display: inline-block;
	}

	ul.roles-list > li {
		list-style-position: inside;
		margin-bottom: 16px;
	}

	ul.roles-list ul li {
		margin-left: 22px;
		margin-bottom: 8px;
		list-style: none;
	}

	/* style for responsiveness */

	@media screen and (max-width: 768px) {
		.section-container {
			margin: 24px 24px 32px;
		}
	}
</style>
