---
import "../styles/global.css";
---

<div class="section-container">
  <div class="description-section">
    <h2 class="section-heading">Join Nepal Climate Hub</h2>
    <div class="introduction-section">
      <p>
        We will soon be looking to onboard our first batch of volunteer
        Operating Team members to help propel Nepal Climate Hub forward.
      </p>
      <p>
        Our mission is to educate, connect, and empower Nepal’s young people
        with timely information, resources, networking opportunities, and
        practical guidance to address pressing climate challenges through
        individual and collective action.
      </p>
      <p>
        If you have a deep understanding and passion for climate change and
        solutions in Nepal and want to leverage your knowledge and skills to
        educate, inspire, and mobilize youth across Nepal, we invite you to join
        us.
      </p>
    </div>
    <div class="why-volunteer-section sub-section">
      <h3 class="sub-heading">Why volunteer with us?</h3>
      <p>
        Volunteering with Nepal Climate Hub as a member of our first Operating
        Teams offers a unique opportunity to gain hands-on experience in
        nonprofit leadership and operations while making a meaningful
        contribution to climate action in Nepal. Here’s what you’ll gain:
      </p>
      <ul class="volunteering-list">
        <li>
          <span class="description-term"
            ><strong>Content Knowledge</strong></span
          >: Deepen your understanding of climate issues facing Nepal, as well
          as the activists, researchers, and organizations working to advance
          policy change and develop and deploy effective solutions.
        </li>
        <li>
          <span class="description-term"
            ><strong>Skill Development</strong></span
          >: Gain and practice new skills in copywriting, social media and
          content management, software engineering, branding, project
          management, design, and more.
        </li>
        <li>
          <span class="description-term"
            ><strong>Networking Opportunities</strong></span
          >: Connect with like-minded individuals and organizations passionate
          about climate action.
        </li>
        <li>
          <span class="description-term"><strong>Community Impact</strong></span
          >: Play a direct role in educating and empowering thousands of youth
          across Nepal to make a meaningful difference in their communities.
        </li>
      </ul>
    </div>
    <div class="eligibilty-section sub-section">
      <h3 class="sub-heading">Eligibility</h3>
      <p>
        We are seeking students and young professionals who are passionate about
        climate action and committed to growing the impact and reach of Nepal
        Climate Hub.
      </p>

      <p class="note">
        Volunteer roles opening soon! Follow us for updates and start
        contributing now on our <a href="/contribute">Contribute</a> page.
      </p>
    </div>
  </div>
</div>

<style>
  .section-container {
    max-width: 760px;
    margin: 48px auto 0px;
  }

  .section-heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .introduction-section {
    margin-bottom: 24px;
  }

  .introduction-section p {
    line-height: 24px;
    margin-bottom: 8px;
  }

  .sub-heading {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .sub-section p {
    line-height: 24px;
    margin-bottom: 8px;
  }

  ul.volunteering-list {
    margin-bottom: 24px;
  }

  ul.volunteering-list li {
    list-style-type: none;
    line-height: 24px;
    margin-bottom: 8px;
  }

  ul.roles-list .description-term {
    margin-bottom: 8px;
    display: inline-block;
  }

  ul.roles-list > li {
    list-style-position: inside;
    margin-bottom: 16px;
  }

  ul.roles-list ul li {
    margin-left: 22px;
    margin-bottom: 8px;
    list-style: none;
  }

  .eligibilty-section {
    margin-bottom: 64px;
  }

  .note {
    font-style: italic;
    margin-top: 24px;
    color: blue;
  }
  /* style for responsiveness */

  @media screen and (max-width: 768px) {
    .section-container {
      margin: 24px 24px 32px;
    }
  }
</style>
