---
import Header from '@components/Header.astro'
import HeroContent from '@components/HeroContent.astro'
import CtaSection from '@components/CtaSection.astro'
import FactSection from '@components/FactSection.astro'
import ActivistSection from '@components/ActivistSection.astro'
import FeaturedOrganizationSection from '@components/FeaturedOrganizationSection.astro'
import FeaturedNewsSection from '@components/FeaturedNewsSection.astro'
import Footer from '@components/Footer.astro'
import '../styles/global.css'

interface Props {
  title: string
}

import BaseLayout from './Layout.astro'

const { title } = Astro.props
---

<BaseLayout title={title}>

  <div class="main-container">
    <section class="hero-section">
      <Header />
      <HeroContent />
    </section>

    <section class="cta-section">
      <CtaSection />
    </section>
  </div>

  <section class="fact-section">
    <FactSection />
  </section>

  <section class="activist-section">
    <ActivistSection />
  </section>
  
  <section class="organizatin-section">
    <FeaturedOrganizationSection />
  </section>

  <section class="news-section">
    <FeaturedNewsSection />
  </section>

  <section class="footer-section">
    <Footer />
  </section>

</BaseLayout>

<style>

  .hero-section {
    height: 488px;
    background-image: url(../assets/hero-bg-mobile.png);
    background-position: top;
    background-size: cover;
  }

  .fact-section {
    background-color: #CEFE00;
  }

  .footer-section {
    background-color: #1A1B1E;
    color: white;
  }

</style>