---
import Header from '@components/Header.astro'
import HeroContent from '@components/HeroContent.astro'
import CtaSection from '@components/CtaSection.astro'
import FactSection from '@components/FactSection.astro'
import ActivistSection from '@components/ActivistSection.astro'
import '../styles/global.css'

interface Props {
  title: string
}

import BaseLayout from './Layout.astro'

const { title } = Astro.props
---

<BaseLayout title={title}>

  <div class="main-container">
    <section class="hero-section">
      <Header />
      <HeroContent />
    </section>

    <section class="cta-section">
      <CtaSection />
    </section>
  </div>

  <section class="fact-section">
    <FactSection />
  </section>

  <section class="activist-section">
    <ActivistSection />
  </section>
  
</BaseLayout>

<style>

  .hero-section {
    height: 488px;
    background-image: url(../assets/hero-bg-mobile.png);
    background-position: top;
    background-size: cover;
  }

  .fact-section {
    background-color: #CEFE00;
  }

</style>